{%- if settings.enable_left_column -%}
  {% comment %} {%- section 'slideshow-left-column' -%} {% endcomment %}
  <div class="container">
    <div class="row">
      <div class="col-3 d-none d-lg-block">
        {%- section 'section-left-column' -%}
      </div>
      <div class="col-12 col-lg-9">
        {{ content_for_index }}
      </div>
    </div>
  </div>
{%- else -%}
  {%- assign test = true -%}

  {%- if test -%}
    {%- capture content_for_index -%}
      {{ content_for_index }}
    {%- endcapture -%}
    {%- liquid
      assign array =  content_for_index | split: '<arena class="d-none">'
    -%}
    {%- for item in array -%}
      {%- if item contains '</arena>' -%}
        {%- assign section_id = item | split: '</arena>' | first | split: ':' | first -%}
        {%- assign type = item | split: '</arena>' | first | split: ':' | last -%}
        <div class="lazyload" data-lazyqueue="" data-expand="30" data-include="{{routes.root_url}}?section_id={{section_id}}" data-type="{{type}}"></div>
      {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {{content_for_index}}
  {%- endif -%}

  {% comment %}
  {%- assign section_id = '1602755970791,1602688560872,1602767199517,1602772529515,1602815780616,1602933405285,1603076777526,1603102254331,1603348449130,1603351399117,1603426205261,1603428577967,1603555938763,1603631388355,1603561265446,1603636307313,1603680802853,16039458302efd4492,16042865040aab4910,1604370421dd156b7a'| split: ',' -%}

  {%- for item in section_id -%}
    <div class="lazyload" data-lazyqueue="" data-expand="1000" data-include="{{routes.root_url}}?section_id={{item}}"></div>
  {%- endfor -%}
   {% endcomment %}

{%- endif -%}
