
{%- liquid
  assign isBoxed = settings.page_layout
  assign _total = settings.search_page_total | default: '20' | times: 1
-%}
{%- capture keyWord -%}{{search.terms | escape}}{%- endcapture -%}

{%- capture content -%}
  <div class="page page-search">
    <div class="page_wrapper">
      {%- if isBoxed -%} <div class="container"> {%- endif -%}
        {%- if search.results_count > 0 -%}
          <h2 class="page_title text-center">{{ 'search.general.result_title' | t: number: search.results_count, keyword: search.terms}}</h2>
        {%- else -%}
          <h2 class="page_title text-center">{{ 'search.general.no_result' | t:  keyword: search.terms}}</h2>
        {%- endif -%}

        <div class="page_search-form">
          <form action="/search">
            <input type="hidden" name="type" value="{{settings.search_type}}">
            <input type="hidden" name="optons[unavailable_products]" value="{{settings.search_unavailable_result}}">
            <input type="hidden" name="options[prefix]" value="last">
            <div class="form-group">
              <input type="text" name="q" value="{{search.terms}}">
              <button type="submit" class="btn btn-1">{%- render 'svg' type: 'search' -%}</button>
            </div>
          </form>
        </div>

        {%- case settings.search_type -%}
          {%- when 'product' -%}
          <div class="page_search-results">
            <div class="search-type product-type">
              {%- paginate search.results by _total -%}
                <div class="d-grid grid-2 grid-lg-3 grid-xl-4 grid-gap-15 grid-gap-md-30">
                  {%- for product in search.results -%}
                    <div class="product-item">
                      {%- render 'product-item' product: product -%}
                    </div>
                  {%- endfor -%}
                </div>
                {%- include 'pagination' -%}
              {%- endpaginate -%}

            </div>
          </div>
          {%- else -%}
            {%- liquid
              assign product_results = search.results | where: 'object_type', 'product'
              assign article_results = search.results | where: 'object_type', 'article'
              assign collection_results = search.results | where: 'object_type', 'collection'
            -%}
            <div class="page_search-results">
              {%- if product_results.size > 0 -%}
                <div class="search-type product-type">
                  <div class="search-type_title">{{ 'search.general.products' | t}}</div>
                  <div class="d-grid grid-12 grid-lg-4 grid-md-6">
                    {%- for product in search.results -%}
                      <div class="product-item">
                        {%- render 'product-item' product: product -%}
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              {%- endif -%}

              {%- if article_results.size > 0 -%}
                <div class="search-type product-type">
                  <div class="search-type_title">{{ 'search.general.articles' | t}}</div>
                  <div class="d-grid grid-12 grid-lg-4 grid-md-6">
                    {%- for article in article_results -%}
                      <div class="product-item">
                        {%- render 'product-item' product: product -%}
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              {%- endif -%}
            </div>
        {%- endcase -%}

      {%- if isBoxed -%} </div> {%- endif -%}
    </div>
  </div>
{%- endcapture -%}

{%- render 'compress', content: content -%}