<div class="container text-center">
  <div id="template">
    <div class="page-heading">
      <h2 class="title">{{- 'customer.reset_password.title' | t -}}</h2>
      <p class="note">{{- 'customer.reset_password.subtext' | t: email: email -}}</p>
    </div>

    {% form 'reset_customer_password', class: 'form-account' %}
      {{ form.errors | default_errors }}

      <div id="password" class="form-control">
        <label for="password">{{- 'customer.reset_password.password' | t -}}</label>
        <input type="password" value="" name="customer[password]" id="customer_password" />
      </div>
      <div id="password_confirm" class="form-control">
        <label for="password_confirmation">{{- 'customer.reset_password.password_confirm' | t -}}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" />
      </div>
      <div class="action_bottom">
        <input class="btn btn-1" type="submit" value="{{- 'customer.reset_password.submit' | t -}}" />
      </div>
    {% endform %}
  </div>
</div>