{%- liquid
  assign default_color  = 'rgba(0,0,0,0)'
  assign boxed_layout   = section.settings.boxed_layout
  assign section_height = section.settings.section_height

  assign bg_color    = section.settings.bg_color
  assign bg_image    = section.settings.bg_image
  assign bg_position = section.settings.bg_position
  assign bg_size     = section.settings.bg_size
  assign bg_repeat   = section.settings.bg_repeat

  assign filter_title = section.settings.filter_title
  assign btn_label    = section.settings.btn_label

  assign content_style = section.blocks | where: 'type', 'content-style' | first
  assign filter_blocks = section.blocks | where: 'type', 'filter-item'

-%}

{%- capture sectionID -%}.section-{{section.id}}{%- endcapture-%}

{%- capture content -%}
  <div class="banner-filter-custom section-{{section.id}}" data-section-id="{{section.id}}" data-section-type="banner-filter-custom">
    {%- if boxed_layout -%} <div class="container"> {%- endif -%}
      <div class="section-wrapper">
        <div class="section-content">
          {%- capture bgset -%}{%- render 'bgset' image: bg_image -%}{%- endcapture -%}
          <div class="banner {{bgset}}">
            <div class="banner_content container">
              {%- for i in (1..2) -%}
                {%- liquid
                  assign text = 'text_'  | append: i
                  assign text = section.settings[text]
                -%}
                <div class="text-{{i}}">{{text}}</div>
              {%- endfor -%}
            </div>
          </div>
          <div class="filter-custom">
            <div class="filter-custom_title">{{filter_title}}</div>
              <div class="filter-custom_list">
                {%- for block in filter_blocks -%}
                  <div class="filter-custom_item">
                    {%- liquid
                      assign filter_title = block.settings.filter_title
                      assign fields = block.settings.fields | split: ','
                    -%}
                    {%- case block.settings.filter_type -%}
                      {%- when 'select' -%}
                        <div class="select-group">
                          <a href="#" onclick="return false" class="selected">{{filter_title}}</a>
                          <ul class="dropdown">
                            {%- for field in fields -%}
                              <li>
                                <label for="{{block.id}}"></label>
                              </li>
                            {%- endfor -%}
                          </ul>
                          {%- render 'svg' type: 'angle-down' -%}
                        </div>
                      {%- when 'input' -%}
                        <input type="text" placeholder="{{filter_title}}">
                    {%- endcase -%}
                  </div>
                {%- endfor -%}
              </div>
            <a href="#" onclick="return false"  class="btn filter-custom_btn">{{btn_label}}</a>
          </div>
        </div>
      </div>
    {%- if boxed_layout -%} </div> {%- endif -%}
  </div>

  {%- capture sectionCss -%}
    {%- render 'css-resp' preClassID: sectionID, classID: ' .section-wrapper .banner', css_value: section_height, css_property: 'height' -%}
    {%- capture bg_style -%}
      {%- render 'css-resp' type: 'value', css_value: bg_position, css_property: 'background-position' -%}
      {%- render 'css-resp' type: 'value', css_value: bg_repeat, css_property: 'background-repeat' -%}
      {%- render 'css-resp' type: 'value', css_value: bg_size, css_property: 'background-size' -%}
    {%- endcapture -%}
    {%- render 'css-resp' preClassID: sectionID, classID: ' .section-wrapper .banner', css_values: bg_style -%}

    {%- liquid
      assign fs_1 =  content_style.settings.fs_1
      assign fs_2 =  content_style.settings.fs_2
    -%}
    {{-sectionID-}}{
      {%- if fs_1 != blank -%}--fs-1:{{fs_1 | split: ',' | first}};{%- endif -%}
      {%- if fs_2 != blank -%}--fs-2:{{fs_2 | split: ',' | first}};{%- endif -%}
    }
    {%- capture content_css -%}
      {%- for i in (1..2) -%}
        {%- liquid
          assign color  = 'color_' | append: i
          assign fw     = 'fw_' | append: i
          assign fs     = 'fs_' | append: i
          assign var_fs = '--fs-' | append: i

          assign color   = content_style.settings[color] | default: default_color
          assign fw      = content_style.settings[fw]
          assign fs      = content_style.settings[fs]
          assign classID = ' .banner .text-' | append: i
        -%}
        {%- capture css_values -%}
          {%- if color != default_color -%} color: {{color}};{%- endif -%}
          {%- if fw != blank -%} font-weight: {{fw}};{%- endif -%}
          {%- if fs != blank -%} font-size: var({{var_fs}});{%- endif -%}
        {%- endcapture -%}
        {%- render 'css-resp' preClassID: sectionID, classID: classID, css_values: css_values-%}
        {%- render 'css-resp' preClassID: sectionID, showLast:true, css_value: fs, css_property: var_fs -%}
      {%- endfor -%}

    {%- endcapture -%}

    {{content_css}}
  {%- endcapture -%}

  <style>{{sectionCss}}</style>
{%- endcapture -%}

{%- render 'compress' content: content -%}

<arena class="d-none">{{section.id}}</arena>
{%- schema -%}
{
  "name" : {
    "en": "Banner with filter custom"
  },
  "tag" : "section",
  "settings" : [
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type" : "checkbox",
      "id" : "boxed_layout",
      "label" : {
        "en": "Boxed layout"
      },
      "default" : true
    },
    {
      "type": "text",
      "id": "section_height",
      "label": {
        "en": "Manual height"
      },
      "info": {
        "en": "E.g: 500px"
      }
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "select",
      "id": "bg_size",
      "label": {
        "en": "Background size"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "cover",
          "label": {
            "en": "Cover"
          }
        },
        {
          "value": "contains",
          "label": {
            "en": "Contains"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": {
        "en": "Background position"
      },
      "options": [
        {
          "value": "left top",
          "label": {
            "en": "Left Top"
          }
        },
        {
          "value": "left center",
          "label": {
            "en": "Left Center"
          }
        },
        {
          "value": "left bottom",
          "label": {
            "en": "Left Bottom"
          }
        },
        {
          "value": "right top",
          "label": {
            "en": "Right Top"
          }
        },
        {
          "value": "right center",
          "label": {
            "en": "Right Center"
          }
        },
        {
          "value": "right bottom",
          "label": {
            "en": "Right Bottom"
          }
        },
        {
          "value": "center top",
          "label": {
            "en": "Center Top"
          }
        },
        {
          "value": "center center",
          "label": {
            "en": "Center Center"
          }
        },
        {
          "value": "center bottom",
          "label": {
            "en": "Center Bottom"
          }
        }
      ],
      "default": "center center"
    },
    {
      "type": "select",
      "id": "bg_repeat",
      "label": {
        "en": "Background repeat"
      },
      "options": [
        {
          "value": "no-repeat",
          "label": {
            "en": "No repeat"
          }
        },
        {
          "value": "repeat",
          "label": {
            "en": "Repeat"
          }
        },
        {
          "value": "repeat-x",
          "label": {
            "en": "Repeat X"
          }
        },
        {
          "value": "repeat-y",
          "label": {
            "en": "Repeat Y"
          }
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "header",
      "content": {
        "en": "Content"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "To custom style. Please add content 'Content style'"
      }
    },
    {
      "type": "html",
      "id": "text_1",
      "label": {
        "en": "Text 1"
      },
      "default" : "Welcome to <strong>Chromium</strong>"
    },
    {
      "type": "html",
      "id": "text_2",
      "label": {
        "en": "Text 2"
      },
      "default" : "Search multiple new & used cars in one<br>easy search"
    },
    {
      "type": "header",
      "content": {
        "en": "Filter settings"
      }
    },
    {
      "type": "text",
      "id": "filter_title",
      "label": {
        "en": "title"
      },
      "default" : "I'M LOOKING FOR"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": {
        "en": "Button label"
      },
      "default" : "FIND MY CAR"
    }
  ],
  "blocks": [
    {
      "type" : "filter-item",
      "name" : {
        "en": "Filter item"
      },
      "settings" : [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Label"
          }
        },
        {
          "type": "select",
          "id": "filter_type",
          "label" : {
            "en" : "Type"
          },
          "options": [
            {
              "value": "select",
              "label": {
                "en": "Select"
              }
            },
            {
              "value": "input",
              "label": {
                "en": "input"
              }
            }
          ]
        },
        {
          "type" : "checkbox",
          "id" : "select_multiple",
          "label" : {
            "en": "Select multiple"
          }
        },
        {
          "type": "text",
          "id": "fields",
          "label": {
            "en": "Fields"
          }
        }
      ]
    },
    {
      "type" : "content-style",
      "limit" : 1,
      "name" : {
        "en": "Content Style"
      },
      "settings" : [
        {
          "type": "header",
          "content": {
            "en": "Text 1"
          }
        },
        {
          "type": "color",
          "id": "color_1",
          "label": {
            "en": "Color"
          }
        },
        {
          "type" : "range",
          "id": "fw_1",
          "label": {
            "en" : "Font weight"
          },
          "step": 100,
          "min" : 100,
          "max" : 900,
          "default" : 400
        },
        {
          "type": "text",
          "id": "fs_1",
          "label": {
            "en": "Font size"
          },
          "info": {
            "en": "E.g: 20px"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 2"
          }
        },
        {
          "type": "color",
          "id": "color_2",
          "label": {
            "en": "Color"
          }
        },
        {
          "type" : "range",
          "id": "fw_2",
          "label": {
            "en" : "Font weight"
          },
          "step": 100,
          "min" : 100,
          "max" : 900,
          "default" : 400
        },
        {
          "type": "text",
          "id": "fs_2",
          "label": {
            "en": "Font size"
          },
          "info": {
            "en": "E.g: 20px"
          }
        }
      ]
    }
  ],
  "presets": [{
      "name" : "Banner with filter custom",
      "category" : "Banner"
  }]
}
{%- endschema -%}