{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign sectionType    = 'footer-widget'
  assign _lazyload      = settings.use_lazyload
  assign _mobileMenu    = section.blocks | where: 'type', 'menu'
  assign _grid_layout   = section.settings.grid_layout
  unless _grid_layout contains ','
    assign _grid_layout = _grid_layout | append: ', 100%'
  endunless
-%}

{%- capture section_class -%}
  {{- -}}section-{{- section.id -}}
  {{- -}}|layout-{{- _layout -}}
{%- endcapture -%}{%- assign section_class = section_class | strip | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}

{%- capture content -%}

  <div class="{{section_class}}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
    {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
      {%- comment -%}
        **
        * Default Row
        *
      {%- endcomment-%}
      <div class="section_content-wrapper d-grid">
        {%- capture blockID %} .section_content-wrapper.d-grid{%- endcapture -%}
        {%- for block in section.blocks -%}
          {%- liquid
            if block.type contains 'style'
              capture block_css
                render 'snippet-footer', sectionID: sectionID, blockID: blockID, block: block
              endcapture
              assign section_css = section_css | append: block_css
            else
              render 'snippet-footer', sectionID: sectionID, blockID: blockID, block: block
            endif
          -%}
        {%- endfor -%}
      </div>

    {%- if _layout == 'boxed' -%}</div>{%- endif -%}
  </div>

  {%- capture sectionCss -%}
    {%- liquid
      render 'snippet-theme', type: 'sectionCSS', ID: sectionID
      render 'css-resp', classID: sectionID, nextClassID: ' .section_content-wrapper.d-grid', css_value: _grid_layout, css_property: 'grid-template-columns'
      render 'css-resp', classID: sectionID, nextClassID: ' .section_content-wrapper.d-grid', css_value: section.settings.grid_spc, css_property: 'grid-gap'
      echo section_css
    -%}
  {%- endcapture -%}
  {%- assign sectionCss = sectionCss | strip_newlines -%}
  {%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}

{%- endcapture -%}

{%- render 'compress' content: content -%}

{% schema %}
{
  "name": {
    "en": "Footer Widget"
  },
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": {
        "en": "Section Padding"
      },
      "placeholder": {
        "en": "E.g: 5px 20px 5px 20px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    },
    {
      "type": "text",
      "id": "grid_layout",
      "label": {
        "en": "Column Grid layout"
      },
      "default": "25% 25% 25% 25%, 100%",
      "placeholder": {
        "en": "E.g: 70% 30% or 100%"
      }
    },
    {
      "type": "text",
      "id": "grid_spc",
      "label": {
        "en": "Item spacing"
      },
      "default": "8px",
      "placeholder": {
        "en": "E.g: 10px"
      }
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": {
        "en": "Menu"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          },
          "info": {
            "en": "Default is Menu title"
          }
        },
        {
          "type": "checkbox",
          "id": "list_style",
          "label": {
            "en": "Show list style"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "en": "Menu"
          }
        }
      ]
    },
    {
      "type": "information",
      "name": {
        "en": "Information"
      },
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Block title"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Logo"
          }
        },
        {
          "type": "select",
          "id": "logo_type",
          "label": {
            "en": "Logo type"
          },
          "options": [
            {
              "value": "image",
              "label": {
                "en": "Image"
              }
            },
            {
              "value": "svg",
              "label": {
                "en": "SVG"
              }
            }
          ]
        },
        {
          "type": "text",
          "id": "logo_max_width",
          "label": {
            "en": "Logo max width"
          }
        },
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": {
            "en": "Logo image"
          }
        },
        {
          "type": "textarea",
          "id": "logo_svg",
          "label": {
            "en": "Logo SVG"
          },
          "info": {
            "en": "Please enter SVG code."
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Content"
          }
        },
        {
          "type": "richtext",
          "id": "text_content_1",
          "label": {
            "en": "Address"
          }
        },
        {
          "type": "html",
          "id": "svg_content_1",
          "label": {
            "en": "Address SVG"
          }
        },
        {
          "type": "richtext",
          "id": "text_content_2",
          "label": {
            "en": "Phone"
          }
        },
        {
          "type": "html",
          "id": "svg_content_2",
          "label": {
            "en": "Phone SVG"
          }
        },
        {
          "type": "richtext",
          "id": "text_content_3",
          "label": {
            "en": "Email"
          }
        },
        {
          "type": "html",
          "id": "svg_content_3",
          "label": {
            "en": "Email SVG"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Social"
          }
        },
        {
          "type": "text",
          "id": "social_title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": {
            "en": "Show social"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "name": {
        "en": "Newsletter"
      },
      "settings": [
        {
          "type": "text",
          "id": "main_text_1",
          "label": {
            "en": "Text 1"
          },
          "default": "Join our newsletter"
        },
        {
          "type": "textarea",
          "id": "main_text_2",
          "label": {
            "en": "Text 2"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Form settings"
          }
        },
        {
          "type": "select",
          "id": "form_type",
          "label": {
            "en": "Form Type:"
          },
          "options": [
            {
              "value": "mailchimp",
              "label": {
                "en": "Mailchimp"
              }
            },
            {
              "value": "klaviyo",
              "label": {
                "en": "Klaviyo"
              }
            },
            {
              "value": "shopify",
              "label": {
                "en": "Shopify"
              }
            }
          ],
          "default": "mailchimp"
        },
        {
          "type": "textarea",
          "id": "form_url",
          "label": {
            "en": "Form URL"
          }
        },
        {
          "type": "paragraph",
          "content": {
            "en": "Mailchimp: [Where do I get my MailChimp Form Action](https://www.arenacommerce.com/blogs/faq/shopify-theme-how-to-get-a-mailchimp-form-action-url)"
          }
        },
        {
          "type": "paragraph",
          "content": {
            "en": "KLAVIYO: [Sign up](https://www.klaviyo.com/partner/signup?utm_source=0010V00002PVTlf&utm_medium=partner)"
          }
        },
        {
          "type": "range",
          "id": "btn_style",
          "label": {
            "en": "Button style"
          },
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1
        },
        {
          "type": "header",
          "content": {
            "en": "Accept payment"
          }
        },
        {
          "type": "checkbox",
          "id": "show_accept",
          "label": {
            "en": "Show"
          }
        },
        {
          "type": "text",
          "id": "accept_payment_title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "text",
          "id": "payment_icon_1",
          "label": {
            "en": "Payment SVG 1"
          }
        },
        {
          "type": "text",
          "id": "payment_icon_2",
          "label": {
            "en": "Payment SVG 2"
          }
        },
        {
          "type": "text",
          "id": "payment_icon_3",
          "label": {
            "en": "Payment SVG 3"
          }
        },
        {
          "type": "text",
          "id": "payment_icon_4",
          "label": {
            "en": "Payment SVG 4"
          }
        }
      ]
    },
    {
      "type": "style",
      "name": {
        "en": "[+] Color style"
      },
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": {
            "en": "Background color"
          }
        },
        {
          "type": "text",
          "id": "border_radius",
          "label": {
            "en": "Border Radius"
          },
          "placeholder": {
            "en": "E.g: 4px"
          }
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": {
            "en": "Heading color"
          }
        },
        {
          "type": "range",
          "id": "heading_font_weight",
          "label": {
            "en": "Heading Font Weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 0
        },
        {
          "type": "text",
          "id": "heading_font_size",
          "label": {
            "en": "Heading Font Size"
          },
          "placeholder": {
            "en": "E.g: 18px"
          }
        },
        {
          "type": "color",
          "id": "text_1_color",
          "label": {
            "en": "Text 1 color"
          }
        },
        {
          "type": "color",
          "id": "link_color",
          "label": {
            "en": "Link color"
          }
        },
        {
          "type": "color",
          "id": "hover_link_color",
          "label": {
            "en": "Hover Link color"
          }
        }
      ]
    }
  ]
}
{% endschema %}