{% liquid
  if section.settings.layout
    assign _layout = 'boxed'
  else
    assign _layout = 'full'
  endif
  assign _heading               = section.settings.heading
  assign _heading_color         = section.settings.heading_color
  assign _heading_size          = section.settings.heading_size
  assign items_resp             = section.settings.items_resp | default: '5,3,2' | replace: ',', ';' | replace: ';', ', 1fr;' | append: ', 1fr'
  assign grid_spc               = section.settings.grid_spc

  assign bg_color               = section.settings.bg_color | default: 'rgba(0,0,0,0)'
  assign bg_image               = section.settings.bg_image
  assign bg_full                = section.settings.bg_full
  assign bg_repeat              = section.settings.bg_repeat
  assign bg_position            = section.settings.bg_position
  assign bg_size                = section.settings.bg_size

  assign sectionHeading_text_1  = section.settings.sectionHeading_text_1
  assign heading_fs             = section.settings.heading_fs
  assign sectionHeading_text_2  = section.settings.sectionHeading_text_2
  assign subheading_fs          = section.settings.subheading_fs

  assign banner_position  = section.settings.banner_position
  assign hide_banner      = section.settings.hide_banner
  assign banner_image     = section.settings.banner_image
  assign banner_text_1    = section.settings.banner_text_1
  assign banner_text_2    = section.settings.banner_text_2
  assign banner_text_3    = section.settings.banner_text_3
  assign banner_btn_url   = section.settings.banner_btn_url
  assign banner_btn_label = section.settings.banner_btn_label

  assign section_btn_text_color = section.settings.section_btn_text_color
  assign logo_list_grid_spc     = section.settings.logo_list_grid_spc
  assign logo_item_bg_color     = section.settings.logo_item_bg_color | default: 'rgba(0,0,0,0)'
%}


{%- capture sectionID -%}.section-{{section.id}} {%- endcapture -%}

{%- capture gridClass -%}{% render 'set-item-per-row' value: items_resp %}{%- endcapture -%}

{%- capture section_class -%}
  logo-list-banner section-{{section.id}}
{%- endcapture -%}

{%- capture content -%}

  <div class="{{section_class | strip_newlines}}"data-section-id="{{section.id}}"data-section-type="logo-list-menu">
    {% if _layout == 'boxed'  %}<div class="container">{%- endif -%}
      <div class="section-wrapper {%- unless bg_full -%}{%- render 'bgset' image: section.settings.bg_image -%}{%- endunless -%}">

        <div class="d-grid">
          {%- if banner_position == 'left' -%}
            <div class="banner{% if hide_banner %} d-none d-lg-block{% endif %}">
              <div class="image">
                {%- render 'image-style' image: section.settings.banner_image  -%}
              </div>
              <div class="textbox overlay-ui">
                <div class="text-1">
                  <h3>{{banner_text_1}}</h3>
                </div>
                <div class="text-2">
                  <span>{{banner_text_2}}</span>
                </div>
                <div class="text-3">
                  <span>{{banner_text_3}}</span>
                </div>
                <div class="button">
                  <a href="{{banner_btn_url}}" class="btn btn-1">{{banner_btn_label}}</a>
                </div>
              </div>
            </div>
          {%- endif -%}

          <div class="logo-list-content">
            {%- unless section.settings.sectionHeading_text_1 == blank and section.settings.sectionHeading_text_2 == blank -%}
              <div class="section_content-head">
                {%- include 'snippet-theme', type: 'sectionHeading' -%}
              </div>
            {%- endunless -%}
            <div class="section_content-body">
              <div class="logo-list_content {% if enable_slider %}js-tns{%else%}d-grid{% endif %}" data-config="tns-config-{{section.id}}">
                {%- for block in section.blocks  -%}
                  <div class="logo-item">
                    <a href="{{block.settings.link | default: 'javascript:void(0);'}}" class="image">
                      {% render 'image-style' image: block.settings.image, originQuality: true %}
                    </a>
                  </div>
                {%- endfor -%}

                <div class="logo-item">
                  <a href="{{section.settings.logo_list_btn_url}}" class="w-100 h-100 d-flex justify-content-center align-items-center see-all" style="color: {{section_btn_text_color}};">
                    {{section.settings.logo_list_btn_svg}}
                    <span class="d-block">{{section.settings.logo_list_btn_label}}</span>
                  </a>
                </div>
              </div>
              {%- if enable_slider -%}
                {% render 'set-item-per-row', type: 'slider', section: section, value: true, count: section.blocks.size  %}
              {%- endif -%}
            </div>
          </div>

          {%- if banner_position == 'right' -%}
            <div class="banner {% if hide_banner %}d-none d-lg-block{%- endif -%}">
              <div class="image">
                {%- render 'image-style' image: banner_image  -%}
              </div>
              <div class="textbox overlay-ui">
                <div class="text-1">
                  <h3>{{banner_text_1}}</h3>
                </div>
                <div class="text-2">
                  <span>{{banner_text_2}}</span>
                </div>
                <div class="text-3">
                  <span>{{banner_text_3}}</span>
                </div>
                <div class="button">
                  <a href="{{banner_btn_url}}" class="btn btn-1">{{banner_btn_label}}</a>
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>

      </div>
    {% if _layout == 'boxed' %}</div>{%- endif -%}
  </div>

  {%- capture sectionCss -%}
    {% if heading_fs != blank %}{%- render 'css-resp' preClassID: sectionID, classID: ' .section_title-text-1', css_value: heading_fs, css_property: 'font-size'  -%}{%- endif -%}
    {% if subheading_fs != blank %}{%- render 'css-resp' preClassID: sectionID, classID: ' .section_title-text-1', css_value: subheading_fs, css_property: 'font-size' -%}{%- endif -%}
    {%- render 'css-resp', classID: sectionID, nextClassID: ' .logo-list_content.d-grid', css_value: items_resp, css_property: 'grid-template-columns', css_value_before: 'repeat', css_split: ';'  -%}
    {%- render 'css-resp', classID: sectionID, nextClassID: ' .section-wrapper >.d-grid', css_value: grid_spc, css_property: 'grid-gap' -%}
    {%- render 'css-resp', classID: sectionID, nextClassID: ' .logo-list_content.d-grid', css_value: logo_list_grid_spc, css_property: 'grid-gap' -%}
    {%- if bg_color != 'rgba(0,0,0,0)' -%}
      {%- render 'css-resp' preClassID: sectionID, css_value: bg_color, css_property: 'background-color' -%}
    {%- endif -%}
    {%- if logo_item_bg_color != 'rgba(0,0,0,0)' -%}
      {%- render 'css-resp' preClassID: sectionID, classID: ' .logo-item', css_value: logo_item_bg_color,  css_property: 'background-color' -%}
    {%- endif -%}

    {%- case banner_position -%}
      {%- when 'left' -%}
        {%- if hide_banner -%}
          {%- render 'css-resp' preClassID: sectionID, classID: ' .section-wrapper >.d-grid', css_value: '25% 75%, 100%, 100%', css_property: 'grid-template-columns' -%}
        {%- else -%}
          {%- render 'css-resp' preClassID: sectionID, classID: ' .section-wrapper >.d-grid', css_value: '25% 75%,40% 60%, 100%', css_property: 'grid-template-columns' -%}
        {%- endif -%}
      {%- when 'right' -%}
        {%- if hide_banner -%}
          {%- render 'css-resp' preClassID: sectionID, classID: ' .section-wrapper >.d-grid', css_value: '75% 25%, 100%, 100%', css_property: 'grid-template-columns' -%}
        {%- else -%}
          {%- render 'css-resp' preClassID: sectionID, classID: ' .section-wrapper >.d-grid', css_value: '75% 25%,60% 40%, 100%', css_property: 'grid-template-columns' -%}
        {%- endif -%}
    {%- endcase -%}
  {%- endcapture -%}
  {%- assign section_css = section_css | append: sectionCss -%}
  <style>
    {{ section_css }}
  </style>

{%- endcapture -%}

{%- render 'compress' content: content -%}
<arena class="d-none">{{section.id}}</arena>

{% schema %}
{
  "name": {
    "en": "Logo List with Banner"
  },
  "tag" : "section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Logo List with Banner' section"
      }
    },
    {
      "id": "title",
      "type": "text",
      "label": {
        "en": "Section Label"
      },
      "default": "Logo List with Banner"
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "checkbox",
      "id": "layout",
      "label": {
        "en": "Boxed"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "grid_spc",
      "label": {
        "en": "Spacing between logo list and banner"
      },
      "default": "10px",
      "placeholder": {
        "en": "E.g: 10px"
      },
      "info": {
        "en": "E.g: 10px"
      }
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": {
        "en": "Section Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_1",
      "label": {
        "en": "Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_2",
      "label": {
        "en": "Subheading"
      }
    },
    {
      "type": "select",
      "id": "sectionHeading_align",
      "label": {
        "en": "Alignment"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ],
      "default": "auto"
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_1",
      "label": {
        "en": "Heading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "text",
      "id": "heading_fs",
      "label": {
        "en": "Heading font size"
      }
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_2",
      "label": {
        "en": "Subheading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "text",
      "id": "subheading_fs",
      "label": {
        "en": "Subheading font size"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Logo list settings"
      }
    },
    {
      "type": "color",
      "id": "logo_item_bg_color",
      "label": {
        "en": "Item background color"
      }
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": {
        "en": "Max number of items per row"
      },
      "default": "5,3,2",
      "placeholder": {
        "en": "E.g: 2,1"
      }
    },
    {
      "type": "text",
      "id": "logo_list_grid_spc",
      "label": {
        "en": "Spacing between items"
      },
      "default": "10px",
      "placeholder": {
        "en": "E.g: 10px"
      },
      "info": {
        "en": "E.g: 10px"
      }
    },
    {
      "type": "text",
      "id": "logo_list_btn_svg",
      "label": {
        "en": "Button SVG"
      }
    },
    {
      "type": "text",
      "id": "logo_list_btn_label",
      "label": {
        "en": "Button label"
      },
      "default" : "See all makers"
    },
    {
      "type": "color",
      "id": "section_btn_text_color",
      "label": {
        "en": "Button label color"
      }
    },
    {
      "type" : "url",
      "id" : "logo_list_btn_url",
      "label" : {
        "en": "Button link"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Banner settings"
      }
    },
    {
      "type" : "checkbox",
      "id" : "hide_banner",
      "label" : {
        "en": "Hide on mobile"
      }
    },
    {
      "type": "select",
      "id": "banner_position",
      "label": {
        "en": "Position"
      },
      "options": [
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "text",
      "id": "banner_text_1",
      "label": {
        "en": "Text 1"
      }
    },
    {
      "type": "text",
      "id": "banner_text_2",
      "label": {
        "en": "Text 2"
      }
    },
    {
      "type": "text",
      "id": "banner_text_3",
      "label": {
        "en": "Text 3"
      }
    },
    {
      "type": "text",
      "id": "banner_btn_label",
      "label": {
        "en": "Button label"
      },
      "default" : "See All Cars"
    },
    {
      "type" : "url",
      "id" : "banner_btn_url",
      "label" : {
        "en": "Buttton link"
      }
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "Image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          },
          "info": {
            "en": "The default image size is 270x70 pixels"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Logo List with Banner"
      },
      "category": "Banner",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}