{%- liquid
	assign _lazyload            = settings.use_lazyload
	assign _section_bg_color  	= section.settings.section_bg_color | default: 'rgba(0,0,0,0)'
	assign _section_height 		  = section.settings.section_height | default: '30px'
	assign _section_padding		  = section.settings.section_padding | default: '0'
	assign _block_title_fs 		  = section.settings.block_title_fs | default: '13px'
	assign _block_title_cl 		  = section.settings.block_title_cl | default: 'rgba(0,0,0,0)'
	assign _block_icon_cl  		  = section.settings.block_ic_cl | default: 'rgba(0,0,0,0)'
-%}

{%- capture content -%}
<div id="mobile-bar" class="d-lg-none section-show-{{section.id}}" data-section-id="{{ section.id }}" data-section-type="mobile-bar">
	<div class="mobile-bar-content">
		{%- for block in section.blocks -%}

			{%- liquid
        assign _buttonDefault   = block.settings.default_button
				assign _block_link 	   = block.settings.link | default: 'javascript:void(0);'
				assign _icon_size  	   = block.settings.block_ic_fs | default: '22px'
				assign _block_ic_cl     = block.settings.block_ic_cl | default: 'rgba(0,0,0,0)'
			-%}

			{%- capture blockID -%}#mobile-bar .mobile-block_{{block.id}}{%- endcapture -%}

			{%- capture _block_icon -%}
				{%- case block.settings.icon_type -%}

					{%- when 'icon' -%}
						{%- include 'svg' ,type: 'custom' ,name: block.settings.block_icon -%}

            {%- capture block_css -%}
               {%- if block.settings.block_icon contains '<svg' -%}
                  {{- blockID}} .mobile-bar_icon svg{width: {{_icon_size}};height: {{_icon_size}};{%- unless _block_ic_cl == 'rgba(0,0,0,0)' -%}fill: {{_block_ic_cl}};{%- endunless -%}}
               {%- else -%}
                  {{- blockID }} .mobile-bar_icon{font-size: {{_icon_size}};{%- unless _block_ic_cl == 'rgba(0,0,0,0)' -%}color: {{_block_ic_cl}};{%- endunless -%}}
               {%- endif -%}
            {%- endcapture -%}

					{%- else -%}
            {%- render 'image-style', image: block.settings.block_image, originQuality: true -%}
						{%- capture block_css -%}{{- blockID}} .image--style{margin: 0 auto;width: {{_icon_size}};height: {{_icon_size}};}{%- endcapture -%}
				{%- endcase -%}

				{%- assign section_css = section_css | append: block_css -%}
        {%- if _buttonDefault != 'none' -%}{{_buttonDefault}}{%- endif -%}
			{%- endcapture -%}

      {%- if _block_icon == blank -%}{%- continue -%}{%- endif -%}

			<div class="mobile-bar--block mobile-block_{{block.id}} mobile-block_{{block.type}}"{{block.shopify_attributes}}>
        {%- if _buttonDefault != 'none' -%}
          {%- render 'button', type: _buttonDefault
            ,button_class: 'mobile-bar--block_target text-center'
            ,btnContent: '' -%}

        {%- else -%}
          <a href="{{ _block_link }}" class="mobile-bar--block_target text-center">
            <span class="d-block mobile-bar_icon">{{_block_icon}}</span>
          </a>
        {%- endif -%}
			</div>
		{%- endfor -%}
	</div>
</div>

{%- liquid
   assign __show = true

   if template contains 'collection'
      assign __show = false
   endif
   if template contains 'list-collection'
      assign __show = true
   endif
-%}

<style>
  @media (max-width: 991px) {
    {{- section_css -}}
    #mobile-bar{
      position: fixed;
      left: 0;
      z-index: 99;
      width: 100%;
      transition: all .3s ease-in-out;
      box-shadow: 2px 0px 12px 0px rgba(0,0,0,.15);
      bottom: {%- if __show -%}0{%- else -%}-100%{%- endif -%};
      background: {{_section_bg_color}};      
    }
    {{- -}}#mobile-bar.mobile-bar--hidden,
    {{- -}}.cart-opened #mobile-bar,
    {{- -}}.popup-is-showing #mobile-bar{bottom: -100%;}
    {{- -}}#mobile-bar.mobile-bar--active{bottom: 0!important;}

    #mobile-bar .mobile-bar--block_target{
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }
    #mobile-bar .mobile-bar-content{display: grid;align-items: stretch;padding: {{_section_padding}};
      {%- if section.blocks.size > 0 -%}grid-template-columns: repeat({{section.blocks.size}},1fr);min-height: {{_section_height}};{%- endif -%}
    }
    #mobile-bar .mobile-bar_text{padding: 5px 0 0;font-size:{{_block_title_fs}};color:{{_block_title_cl}};}
    #mobile-bar .mobile-bar_icon{color:{{_block_icon_cl}};fill:{{_block_icon_cl}};}

    #mobile-bar .mobile-bar--block-menu-content{
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
    }
  }
</style>
{%- endcapture -%}
{%- render 'compress', content: content -%}

{% schema %}
{
  "name": {
    "en": "Mobile bar"
  },
  "tag": "section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "color",
      "id": "section_bg_color",
      "label": {
        "en": "Background color"
      },
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section Padding",
      "placeholder": {
        "en": "E.g: 5px 20px 5px 20px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    },
    {
      "type": "text",
      "id": "section_height",
      "label": {
        "en": "Section Height"
      },
      "default": "30px",
      "placeholder": {
        "en": "E.g: 30px"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Block settings"
      }
    },
    {
      "type": "text",
      "id": "block_title_fs",
      "label": {
        "en": "Title font size"
      },
      "default": "13px",
      "placeholder": {
        "en": "E.g: 13px"
      }
    },
    {
      "type": "color",
      "id": "block_title_cl",
      "label": {
        "en": "Title color"
      },
      "default": "#222222"
    },
    {
      "type": "color",
      "id": "block_ic_cl",
      "label": {
        "en": "Icon color"
      },
      "default": "#222222"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": {
        "en": "Block content"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Block label"
          }
        },
        {
          "type": "select",
          "id": "default_button",
          "label": {
            "en": "Default Button"
          },
          "options": [
            {
              "value": "none",
              "label": {
                "en": "None"
              }
            },
            {
              "value": "hamburger",
              "label": {
                "en": "Hamburger"
              }
            },
            {
              "value": "account",
              "label": {
                "en": "Account"
              }
            },
            {
              "value": "home",
              "label": {
                "en": "Home"
              }
            },
            {
              "value": "wishlist",
              "label": {
                "en": "Wishlist"
              }
            },
            {
              "value": "compare",
              "label": {
                "en": "Compare"
              }
            },
            {
              "value": "cart",
              "label": {
                "en": "Cart"
              }
            }
          ],
          "default": "none"
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          }
        },
        {
          "type": "select",
          "id": "icon_type",
          "label": {
            "en": "Icon type"
          },
          "options": [
            {
              "value": "icon",
              "label": {
                "en": "Font icon/ SVG"
              }
            },
            {
              "value": "image",
              "label": {
                "en": "Image"
              }
            }
          ]
        },
        {
          "type": "text",
          "id": "block_icon",
          "label": {
            "en": "Font icon name/ SVG content"
          }
        },
        {
          "type": "image_picker",
          "id": "block_image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Advanced settings"
          }
        },
        {
          "type": "text",
          "id": "block_ic_fs",
          "label": {
            "en": "Icon size/ Image size"
          },
          "default": "22px",
          "placeholder": {
            "en": "E.g: 22px"
          }
        },
        {
          "type": "color",
          "id": "block_ic_cl",
          "label": {
            "en": "Icon color"
          }
        }
      ]
    }
  ]
}
{% endschema %}