{%- assign block_support = 'paragraph-image,team-member,testimonial,statistics,logo-list' -%}

<div class="section-about">
  <div class="section_wrapper">
      <div class="section-blocks">

        {%- for block in section.blocks -%}
          {%- unless block_support contains block.type -%}{%- continue -%}{%- endunless -%}
          {%- assign block_bg = block.settings.bg_color | default: 'rgba(0,0,0,0)' -%}
          {%- assign text_color = block.settings.text_color | default: 'rgba(0,0,0,0)'-%}
          {%- capture bgset -%}{%- render 'bgset' image: block.settings.bg_image -%}{%- endcapture -%}


          <div class="block {{block.type}} block-{{block.id}} {{bgset}}" {%- if block_bg != 'rgba(0,0,0,0)' -%} style="background-color: {{block_bg}};" {%- endif -%}>
            <div class="container">
              {%- if block.settings.title != blank -%}
                {%- assign title_align = block.settings.title_align -%}
                <div class="section_title-wrapper text-{{title_align | replace: 'auto' , settings.sectionHeading_align}}">
                  <h2 class="section_title-text-1" {%- if text_color != 'rgba(0,0,0,0)' -%} style="color: {{text_color}};" {%- endif -%}>{{block.settings.title}}</h2>
                </div>
              {%- endif -%}

              {%- case block.type -%}

                {%- when 'paragraph-image' -%}

                  <div class="paragraph-image_content">
                   <div class="d-grid grid-1 grid-md-2 grid-gap-30">
                      {%- for block in section.blocks offset: forloop.index -%}
                        {%- case block.type -%}
                          {%- when 'paragraph_item' -%}
                            <div class="paragraph">
                              <h3 class="paragraph_title">{{block.settings.block_title}}</h3>
                              {%- for i in (1..3) -%}
                                {%- liquid
                                  assign title   = 'paragraph_title_'  | append: i
                                  assign content = 'paragraph_content_' | append: i
                                -%}
                                <div class="paragraph_item">
                                  <h4 class="title">{{block.settings[title]}}</h4>
                                  <div class="content">{{block.settings[content]}}</div>
                                </div>
                              {%- endfor -%}
                            </div>
                          {% comment %} end {% endcomment %}

                          {%- when 'image_item' -%}
                            {%- if block.settings.image != blank -%}
                              <div class="image">
                                {%- render 'image-style' image: block.settings.image -%}
                              </div>
                            {%- endif -%}
                          {%- else -%}{%- continue -%}

                        {%- endcase -%}
                      {%- endfor -%}
                    </div>
                  </div>
                {% comment %} end {% endcomment %}

                {%- when 'team-member' -%}
                  <div class="team-member_content">
                    {%- assign team_member = section.blocks | where: 'type', 'member_item' -%}

                    <div class="d-grid grid-2 grid-lg-4 grid-gap-15 grid-gap-md-30">
                      {%- for block in team_member -%}
                        <div class="member-item">
                          <div class="image">{%- render 'image-style' image: block.settings.avatar -%}</div>
                          <div class="info text-center">
                            <h6 class="name">{{block.settings.name}}</h6>
                            <span class="position">{{block.settings.position}}</span>
                            <div class="opinion">“{{block.settings.opinion}}”</div>
                          </div>
                          <div class="social">
                          {%- for i in (1..4) -%}
                            {%- liquid
                              assign icon =  'social_icon_' | append: i
                              assign link = 'social_link_' | append: i
                            -%}
                            {%- if block.settings[icon] != blank -%}
                              {%- capture link_default -%}#" onclick="return false{%- endcapture-%}
                              <a href="{{block.settings[link] | default: link_default}}" class="social-item">{{block.settings[icon]}}</a>
                            {%- endif -%}
                          {%- endfor -%}
                          </div>
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                {% comment %} end {% endcomment %}

                {%- when 'testimonial' -%}

                  <div class="tns-wrapper" id="tns_wrapper_{{block.id}}">
                    <div class="js-tns row testimonial_content" data-config="tns_config_{{section.id}}{{block.id}}">
                      {%- assign testimonials = section.blocks | where: 'type','testimonial_item' -%}
                      {%- for testimonial_item in testimonials -%}
                        {%- liquid
                          assign name        = testimonial_item.settings.name
                          assign avatar      = testimonial_item.settings.avatar
                          assign content     = testimonial_item.settings.content
                          assign star_rating =  'star-' | append: testimonial_item.settings.rating
                        -%}
                        <div class="testimonial-item col-12">
                          <div class="image">{%- render 'image-style' image: avatar -%}</div>
                          <div class="info" style="color: var(--text-color);">
                            <div class="rating">{%- render 'svg' type: star_rating -%}</div>
                            <p class="content">&#8220;{{content}}&#8221;</p>
                            <span class="name" color:>{{name}}</span>
                          </div>
                        </div>
                      {%- endfor -%}
                    </div>
                    <script type="applicaton/json" id="tns_config_{{section.id}}{{block.id}}">
                      {
                        "itemClass" : "testimonial-item",
                        "mouseDrag" : true,
                        "angleSwipe" : false,
                        "loop" : false,
                        "items" : 1,
                        "controls" : false,
                        "navPosition" : "bottom"
                      }
                    </script>
                  </div>
                  <script type="text" data-arn-loader="inline" desp='["other-page"]'>
                    (function(){
                      let tnsWrapper = document.getElementById("tns_wrapper_{{block.id}}");
                      AT.initTNS(tnsWrapper);
                    })();
                  </script>
                  <style>.testimonial.block-{{block.id}}{ {%- if text_color != 'rgba(0,0,0,0)' -%} --text-color: {{text_color}}; {%- endif -%}background-position: {{block.settings.bg_position}};background-repeat: {{block.settings.bg_repeat}};background-size: {{block.settings.bg_size}};</style>
                {% comment %} end {% endcomment %}

                {%- when 'statistics' -%}
                  <div class="statistics_content">
                    <div class="d-grid grid-1 grid-md-2 grid-lg-4 grid-gap-15 grid-gap-md-30">
                      {%- liquid
                        assign statistics_blocks  = section.blocks | where: 'type', 'statistics_item'
                      -%}
                      {%- for statistics_item in statistics_blocks -%}
                        {%- liquid
                          assign icon =  statistics_item.settings.icon
                          assign text_1 = statistics_item.settings.text_1
                          assign text_2 = statistics_item.settings.text_2
                        -%}
                        <div class="statistics_item d-flex align-items-center">
                          <div class="icon">{{icon}}</div>
                          <div class="text">
                            <div class="text_1">{{text_1}}</div>
                            <div class="text_2">{{text_2}}</div>
                          </div>
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                {% comment %} end {% endcomment %}

                {%- when 'logo-list' -%}

                  {%- capture gridClass -%}{%- render 'set-item-per-row' value: block.settings.items_resp -%}{%- endcapture -%}
                  <div class="logo-list_content">
                    <div class="tns-wrapper" id=tns_wrapper_{{section.id}}_{{block.id}}>
                      <div class="js-tns row" data-config="tns_config{{section.id}}_{{block.id}}">
                        {%- assign logo_list = section.blocks | where: 'type', 'logo-item' -%}
                        {%- for logo_item in logo_list -%}
                          {%- assign default_link = '#" onclick="return false' -%}
                          <a href="{{logo_item.settings.link | default: default_link}}" class="{{gridClass}} logo-item">
                            {%- render 'image-style' image: logo_item.settings.image -%}
                          </a>
                        {%- endfor -%}
                      </div>
                      {%- capture configID -%}tns_config{{section.id}}_{{block.id}}{%- endcapture-%}
                      {%- render 'set-item-per-row', type: 'slider', section: block, configID: configID -%}
                    </div>
                  </div>
                  <script type="text" data-arn-loader="inline" deps='["other-page"]'>
                    !function(){
                      let tnsWrapper = document.getElementById("tns_wrapper_{{section.id}}_{{block.id}}");
                      AT.initTNS(tnsWrapper);
                    }()
                  </script>
              {%- endcase -%}
            </div>
          </div>
        {%- endfor -%}

      </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "en": "About page"
  },
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "paragraph-image",
      "name": {
        "en": "Paragraph with Image"
      },
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "en": "To use it. Please go to 'Add content' and add content name 'Paragraph' or 'Image' right below this block."
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "select",
          "id": "title_align",
          "label": {
            "en": "Title alignment"
          },
          "options": [
            {
              "value": "auto",
              "label": {
                "en": "Auto"
              }
            },
            {
              "value": "left",
              "label": {
                "en": "Left"
              }
            },
            {
              "value": "center",
              "label": {
                "en": "Center"
              }
            },
            {
              "value": "right",
              "label": {
                "en": "Right"
              }
            }
          ]
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": {
            "en": "Background color"
          }
        }
      ]
    },
    {
      "type": "paragraph_item",
      "name": {
        "en": "  [+] Paragraph"
      },
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": {
            "en": "Title"
          },
          "default": "Paragraph Title"
        },
        {
          "type": "header",
          "content": {
            "en": "Paragaph 1"
          }
        },
        {
          "type": "text",
          "id": "paragraph_title_1",
          "label": {
            "en": "Heading"
          },
          "default": "Heading"
        },
        {
          "type": "textarea",
          "id": "paragraph_content_1",
          "label": {
            "en": "Content"
          },
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!"
        },
        {
          "type": "header",
          "content": {
            "en": "Paragaph 2"
          }
        },
        {
          "type": "text",
          "id": "paragraph_title_2",
          "label": {
            "en": "Heading"
          },
          "default": "Heading"
        },
        {
          "type": "textarea",
          "id": "paragraph_content_2",
          "label": {
            "en": "Content"
          },
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!"
        },
        {
          "type": "header",
          "content": {
            "en": "Paragaph 3"
          }
        },
        {
          "type": "text",
          "id": "paragraph_title_3",
          "label": {
            "en": "Heading"
          },
          "default": "Heading"
        },
        {
          "type": "textarea",
          "id": "paragraph_content_3",
          "label": {
            "en": "Content"
          },
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!"
        }
      ]
    },
    {
      "type": "image_item",
      "name": {
        "en": "  [+] Image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        }
      ]
    },
    {
      "type": "team-member",
      "name": {
        "en": "Team member"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "select",
          "id": "title_align",
          "label": {
            "en": "Title alignment"
          },
          "options": [
            {
              "value": "auto",
              "label": {
                "en": "Auto"
              }
            },
            {
              "value": "left",
              "label": {
                "en": "Left"
              }
            },
            {
              "value": "center",
              "label": {
                "en": "Center"
              }
            },
            {
              "value": "right",
              "label": {
                "en": "Right"
              }
            }
          ]
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": {
            "en": "Background color"
          }
        },
        {
          "type": "paragraph",
          "content": {
            "en": "To add item. Please go to 'Add content' and add content name '[+] Member Item'."
          }
        }
      ]
    },
    {
      "type": "member_item",
      "name": {
        "en": "[+] Member Item"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "avatar",
          "label": {
            "en": "Avatar"
          }
        },
        {
          "type": "text",
          "id": "name",
          "label": {
            "en": "Name"
          },
          "default": "Name"
        },
        {
          "type": "text",
          "id": "position",
          "label": {
            "en": "Position"
          },
          "default": "Marketing"
        },
        {
          "type": "textarea",
          "id": "opinion",
          "label": {
            "en": "Opinion"
          },
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
        },
        {
          "type": "header",
          "content": {
            "en": "Social 1"
          }
        },
        {
          "type": "html",
          "id": "social_icon_1",
          "label": {
            "en": "Icon"
          }
        },
        {
          "type": "text",
          "id": "social_link_1",
          "label": {
            "en": "Link"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Social 2"
          }
        },
        {
          "type": "html",
          "id": "social_icon_2",
          "label": {
            "en": "Icon"
          }
        },
        {
          "type": "text",
          "id": "social_link_2",
          "label": {
            "en": "Link"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Social 3"
          }
        },
        {
          "type": "html",
          "id": "social_icon_3",
          "label": {
            "en": "Icon"
          }
        },
        {
          "type": "text",
          "id": "social_link_3",
          "label": {
            "en": "Link"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Social 4"
          }
        },
        {
          "type": "html",
          "id": "social_icon_4",
          "label": {
            "en": "Icon"
          }
        },
        {
          "type": "text",
          "id": "social_link_4",
          "label": {
            "en": "Link"
          }
        }
      ]
    },
    {
      "type": "testimonial",
      "name": {
        "en": "Testimonial"
      },
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "en": "To add item. Please go to 'Add content' and add content name 'Testimonial Item'."
          }
        },
        {
          "type": "color",
          "id": "text_color",
          "label": {
            "en": "Text color"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Title"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "select",
          "id": "title_align",
          "label": {
            "en": "Title alignment"
          },
          "options": [
            {
              "value": "auto",
              "label": {
                "en": "Auto"
              }
            },
            {
              "value": "left",
              "label": {
                "en": "Left"
              }
            },
            {
              "value": "center",
              "label": {
                "en": "Center"
              }
            },
            {
              "value": "right",
              "label": {
                "en": "Right"
              }
            }
          ]
        },
        {
          "type": "header",
          "content": {
            "en": "Background"
          }
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": {
            "en": "Background color"
          }
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": {
            "en": "Background image"
          }
        },
        {
          "type": "select",
          "id": "bg_size",
          "label": {
            "en": "Background size"
          },
          "options": [
            {
              "value": "auto",
              "label": {
                "en": "Auto"
              }
            },
            {
              "value": "cover",
              "label": {
                "en": "Cover"
              }
            },
            {
              "value": "contains",
              "label": {
                "en": "Contains"
              }
            }
          ]
        },
        {
          "type": "select",
          "id": "bg_position",
          "label": {
            "en": "Background position"
          },
          "options": [
            {
              "value": "left top",
              "label": {
                "en": "Left Top"
              }
            },
            {
              "value": "left center",
              "label": {
                "en": "Left Center"
              }
            },
            {
              "value": "left bottom",
              "label": {
                "en": "Left Bottom"
              }
            },
            {
              "value": "right top",
              "label": {
                "en": "Right Top"
              }
            },
            {
              "value": "right center",
              "label": {
                "en": "Right Center"
              }
            },
            {
              "value": "right bottom",
              "label": {
                "en": "Right Bottom"
              }
            },
            {
              "value": "center top",
              "label": {
                "en": "Center Top"
              }
            },
            {
              "value": "center center",
              "label": {
                "en": "Center Center"
              }
            },
            {
              "value": "center bottom",
              "label": {
                "en": "Center Bottom"
              }
            }
          ],
          "default": "center center"
        },
        {
          "type": "select",
          "id": "bg_repeat",
          "label": {
            "en": "Background repeat"
          },
          "options": [
            {
              "value": "no-repeat",
              "label": {
                "en": "No repeat"
              }
            },
            {
              "value": "repeat",
              "label": {
                "en": "Repeat"
              }
            },
            {
              "value": "repeat-x",
              "label": {
                "en": "Repeat X"
              }
            },
            {
              "value": "repeat-y",
              "label": {
                "en": "Repeat Y"
              }
            }
          ],
          "default": "no-repeat"
        }
      ]
    },
    {
      "type": "testimonial_item",
      "name": {
        "en": "[+] Testimonial Item"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "avatar",
          "label": {
            "en": "Avatar"
          }
        },
        {
          "type": "text",
          "id": "name",
          "label": {
            "en": "Name"
          }
        },
        {
          "type": "range",
          "id": "rating",
          "label": {
            "en": "Start rating"
          },
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 5
        },
        {
          "type": "textarea",
          "id": "content",
          "label": {
            "en": "Content"
          },
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!"
        }
      ]
    },
    {
      "type": "statistics",
      "name": {
        "en": "Statistics"
      },
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "en": "To add item. Please go to 'Add content' and add content name '[+]Statistics Item'."
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "select",
          "id": "title_align",
          "label": {
            "en": "Title alignment"
          },
          "options": [
            {
              "value": "auto",
              "label": {
                "en": "Auto"
              }
            },
            {
              "value": "left",
              "label": {
                "en": "Left"
              }
            },
            {
              "value": "center",
              "label": {
                "en": "Center"
              }
            },
            {
              "value": "right",
              "label": {
                "en": "Right"
              }
            }
          ]
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": {
            "en": "Background color"
          }
        }
      ]
    },
    {
      "type": "statistics_item",
      "name": {
        "en": "[+]Statistics Item"
      },
      "settings": [
        {
          "type": "textarea",
          "id": "icon",
          "label": {
            "en": "Icon"
          }
        },
        {
          "type": "text",
          "id": "text_1",
          "label": {
            "en": "Text 1"
          }
        },
        {
          "type": "text",
          "id": "text_2",
          "label": {
            "en": "Text 2"
          }
        }
      ]
    },
    {
      "type" : "logo-list",
      "name" : {
        "en": "Logo list"
      },
      "settings" : [
        {
          "type": "paragraph",
          "content": {
            "en": "To add item. Please go to 'Add content' and add content name '[+]Logo Item'."
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "select",
          "id": "title_align",
          "label" : {
            "en" : "Title alignment"
          },
          "options": [
           {
              "value": "auto",
              "label": {
                "en": "Auto"
              }
           },
           {
             "value": "left",
             "label": {
               "en": "Left"
             }
           },
           {
             "value": "center",
             "label": {
               "en": "Center"
             }
           },
           {
             "value": "right",
             "label": {
               "en": "Right"
             }
           }
          ]
        },
        {
          "type": "header",
          "content": {
            "en": "Slider settings"
          }
        },
        {
          "type" : "checkbox",
          "id" : "dots",
          "label" : {
            "en": "Show dots"
          },
          "default" : true
        },
        {
          "type" : "checkbox",
          "id" : "controls",
          "label" : {
            "en": "Show controls"
          },
          "default" : true
        },
        {
          "type": "text",
          "id": "items_resp",
          "label": {
            "en": "Maximum number of items per row"
          },
          "info": {
            "en": "5,2,1"
          }
        },
        {
          "type": "text",
          "id": "grid_spc",
          "label": {
            "en": "Spacing between items"
          },
          "info": {
            "en": "30px,15px"
          }
        }
      ]
    },
    {
      "type" : "logo-item",
      "name" : {
        "en": "[+] Logo item"
      },
      "settings" : [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type" : "url",
          "id" : "link",
          "label" : {
            "en": "Image link"
          }
        }
      ]
    }
  ]
}
{% endschema %}