{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign sectionType    = 'featured-product'
  assign _lazyload      = true
  assign _total         = section.settings.total | times: 1
  assign _collection    = section.settings.collection
  assign collection     = collections[_collection]
  assign _items_resp    = section.settings.items_resp | default: '5,3,2'
  assign _enable_slider = section.settings.enable_slider
  assign _style         = section.settings.style
  assign _countdown     = section.settings.countdown

  unless _countdown == blank
    assign salePercent = true
  endunless
-%}

{%- capture contentHeading -%}{{- section.settings.sectionHeading_text_1 -}}{{- section.settings.sectionHeading_text_2 -}}{{- _countdown -}}{%- endcapture -%}
{%- capture section_class -%}
  {{- -}}home-products-grid
  {{- -}}|section-{{- section.id -}}
  {{- -}}|layout-{{- _layout -}}
  {{- -}}|mobile_layout-{{- section.settings.mobile_layout -}}
  {{- -}}|collection-grid{{- _style -}}
  {%- unless _countdown == blank -%}|section-deal{%- endunless -%}
  {%- render 'bgset' ,class: 'bg-image' ,image: section.settings.section_bg_image -%}
{%- endcapture -%}{%- assign section_class = section_class | strip | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}

{%- capture gridClass -%}{%- render 'set-item-per-row', value: _items_resp -%}{%- endcapture -%}

{%- capture content -%}
<div class="{{section_class}}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
    <div class="section_content-wrapper">

      {%- unless contentHeading == blank -%}
        <div class="section_content-head">
          {%- include 'snippet-theme', type: 'sectionHeading', countdownDate: _countdown -%}
        </div>
      {%- endunless -%}

      <div class="section_content-body">

        <div class="row{% if _enable_slider %} slide_ui-element{% endif %}">
          {%- if _collection != blank and collection.products.size > 0 -%}
            {%- for product in collection.products limit: _total -%}
              <section class="product-section {{gridClass}}">

                {%- render 'product-item', product: product
                                          ,catalogMode: section.settings.enable_catalog
                                          ,showInventory: section.settings.show_inventory
                                          ,showShortDes: section.settings.show_shortdes
                                          ,salePercent: salePercent -%}
              </section>
            {%- endfor -%}
          {%- else -%}
            {%- assign _total = _total | minus: 1 -%}
            {%- for i in (0.._total) -%}
              <section class="product-section {{gridClass}}">
                {%- include 'svgset', type: 'empty-product' -%}
              </section>
            {%- endfor -%}
          {%- endif -%}
        </div>

        {%- if _enable_slider -%}
          {%- liquid
            assign sliderGutter = 0
            if _style == '2'
              assign sliderGutter = '30'
            endif
          -%}
          {%- render 'set-item-per-row', value: _items_resp
                                       ,type: 'slider'
                                       ,itemClass: 'product-section'
                                       ,loop: section.settings.slide_loop
                                       ,gutter: sliderGutter -%}
        {%- endif -%}

      </div>
    </div>
  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>
{%- capture sectionCss -%}
  {%- liquid
    echo section_css
    render 'snippet-theme', type: 'sectionCSS', ID: sectionID
  -%}

  {%- if _style == '2' -%}{%- render 'snippet-theme', type: 'productGridV2', sectionID: sectionID -%}{%- endif -%}
{%- endcapture -%}{%- assign sectionCss = sectionCss | strip_newlines -%}
{%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}
{%- endcapture -%}
{%- render 'compress', content: content -%}
<arena class="d-none">{{section.id}}</arena>

{% schema %}
{
  "name": {
    "en": "Products Grid"
  },
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Products grid' section"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Section Label [:id]"
      },
      "default": "Products Grid"
    },
    {
      "type": "header",
      "content": {
        "en": "LAYOUT"
      }
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section Padding",
      "placeholder": {
        "en": "E.g: 5px 20px 5px 20px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "label": {
        "en": "Mobile layout"
      },
      "options": [
        {
          "value": "boxed",
          "label": {
            "en": "Boxed"
          }
        },
        {
          "value": "full",
          "label": {
            "en": "Wide"
          }
        },
        {
          "value": "full-right",
          "label": {
            "en": "Only full right"
          }
        }
      ],
      "default": "boxed",
      "info": {
        "en": "Only full right use for slider"
      }
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type": "image_picker",
      "id": "section_bg_image",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "select",
      "id": "section_bg_size",
      "label": {
        "en": "Background Size"
      },
      "default": "cover",
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "cover",
          "label": {
            "en": "Cover"
          }
        },
        {
          "value": "contain",
          "label": {
            "en": "Contain"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "section_bg_repeat",
      "label": {
        "en": "Background Image Repeat:"
      },
      "default": "no-repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": {
            "en": "No Repeat"
          }
        },
        {
          "value": "repeat",
          "label": {
            "en": "Repeat"
          }
        },
        {
          "value": "repeat-x",
          "label": {
            "en": "Repeat X"
          }
        },
        {
          "value": "repeat-y",
          "label": {
            "en": "Repeat Y"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "section_bg_position",
      "label": {
        "en": "Background Image Position:"
      },
      "default": "center center",
      "options": [
        {
          "value": "left top",
          "label": {
            "en": "Left Top"
          }
        },
        {
          "value": "center top",
          "label": {
            "en": "Center Top"
          }
        },
        {
          "value": "right top",
          "label": {
            "en": "Right Top"
          }
        },
        {
          "value": "left center",
          "label": {
            "en": "Left Center"
          }
        },
        {
          "value": "center center",
          "label": {
            "en": "Center Center"
          }
        },
        {
          "value": "right center",
          "label": {
            "en": "Right Center"
          }
        },
        {
          "value": "left bottom",
          "label": {
            "en": "Left Bottom"
          }
        },
        {
          "value": "center bottom",
          "label": {
            "en": "Center Bottom"
          }
        },
        {
          "value": "right bottom",
          "label": {
            "en": "Right Bottom"
          }
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "en": "Collection settings"
      }
    },
    {
      "type": "collection",
      "id": "collection",
      "label": {
        "en": "Collection"
      }
    },
    {
      "type": "select",
      "id": "style",
      "label": {
        "en": "Style"
      },
      "options": [
        {
          "value": "1",
          "label": {
            "en": "1"
          }
        },
        {
          "value": "2",
          "label": {
            "en": "2"
          }
        }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "enable_catalog",
      "label": {
        "en": "Enable Catalog mode"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_inventory",
      "label": {
        "en": "Show Low Inventory quantity (<30)"
      }
    },
    {
      "type": "checkbox",
      "id": "show_shortdes",
      "label": {
        "en": "Show Short Description"
      },
      "info": {
        "en": "Metafield: Short Description (c_f.description_excerpt)"
      }
    },
    {
      "type": "text",
      "id": "total",
      "label": {
        "en": "Total items"
      },
      "default": "5",
      "placeholder": {
        "en": "E.g: 10"
      }
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": {
        "en": "Max number of items per row"
      },
      "default": "5,3,2",
      "placeholder": {
        "en": "E.g: 4,3,2"
      }
    },
    {
      "type": "text",
      "id": "countdown",
      "label": {
        "en": "Countdown date"
      },
      "info": {
        "en": "Date format: MM/DD/YYYY"
      },
      "placeholder": {
        "en": "MM/DD/YYYY"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Slider settings"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": {
        "en": "Enable Slider"
      }
    },
    {
      "type": "checkbox",
      "id": "slide_loop",
      "label": {
        "en": "Enable Loop"
      }
    },
    {
      "type": "checkbox",
      "id": "slide_nav",
      "label": {
        "en": "Show Nav"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slide_dot",
      "label": {
        "en": "Show Dot"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en": "Section Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_1",
      "label": {
        "en": "Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_2",
      "label": {
        "en": "Subheading"
      }
    },
    {
      "type": "select",
      "id": "sectionHeading_align",
      "label": {
        "en": "Alignment"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ],
      "default": "auto"
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_1",
      "label": {
        "en": "Heading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_2",
      "label": {
        "en": "Subheading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": {
        "en": "Products Grid"
      },
      "category": "Collection",
      "blocks": []
    }
  ]
}
{% endschema %}



{%- comment -%}
  **
  * Section Layout Default Style
  *

{%- endcomment-%}