{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign _lazyload      = true
  assign _total         = section.settings.total | times: 1
  assign _set_active    = section.settings.set_active
  assign _items_resp    = section.settings.items_resp | default: '5,3,2'
  assign _enable_slider = section.settings.enable_slider
  assign tab_style      = section.settings.tab_style
  assign bg_color       = section.settings.bg_color
  assign controls       = section.settings.controls
-%}

{%- capture section_class -%}
	{{- -}}home-products-tab
	{{- -}}|section-{{- section.id -}}
	{{- -}}|layout-{{- _layout -}}
  {{- -}}|mobile_layout-{{- section.settings.mobile_layout -}}
  {%- if controls -%}|has-controls{%- endif -%}
  {%- render 'bgset' ,class: 'bg-image' ,image: section.settings.section_bg_image -%}
{%- endcapture -%}{%- assign section_class = section_class | strip | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}


{%- capture gridClass -%}{%- render 'set-item-per-row', value: _items_resp -%}{%- endcapture -%}
{%- capture content -%}

  <div class="{{section_class}}" data-section-type="product-tab" data-section-id="{{section.id}}" data-slider="{{_enable_slider}}">
    {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
      <div class="section_content-wrapper" style="background-color: {{bg_color}};">

        {%- unless section.settings.sectionHeading_text_1 == blank and section.settings.sectionHeading_text_2 == blank -%}
          <div class="section_content-head">
            {%- include 'snippet-theme', type: 'sectionHeading' -%}
          </div>
        {%- endunless -%}

        <div class="section_content-body">
          <div class="row">
            {%- if tab_style == '2' -%}
              <div class="col-3 d-none d-lg-block featured_group_tab-banner">
                {% liquid
                  assign banner_image            = section.settings.banner_image
                  assign banner_heading          = section.settings.banner_heading
                  assign banner_subheading       = section.settings.banner_subheading
                  assign banner_heading_fz       = section.settings.banner_heading_fz
                  assign banner_subheading_fz    = section.settings.banner_subheading_fz
                  assign banner_heading_color    = section.settings.banner_heading_color
                  assign banner_subheading_color = section.settings.banner_subheading_color
                  assign banner_btn_label        = section.settings.banner_btn_label
                  assign banner_btn_link         = section.settings.banner_btn_link
                  assign banner_btn_margin       = section.settings.banner_btn_margin
                  assign banner_text_position    = section.settings.banner_text_position | split: ','
                %}
                <div class="banner ">
                  <div class="banner-image">
                    <div class="image">
                      {% render 'image-style' image: banner_image %}
                    </div>
                  </div>
                  <div class="banner-textbox overlay-ui">
                    {%- if banner_heading != blank or banner_subheading != blank -%}
                      <div class="banner_text">
                        {%- if banner_heading != blank -%}
                          <div class="heading">
                            <span>{{banner_heading}}</span>
                          </div>
                        {%- endif -%}
                        {%- if banner_subheading != blank -%}
                          <div class="subheading">
                            <span>{{banner_subheading}}</span>
                          </div>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                    {%- if banner_btn_label != blank -%}
                      <div class="banner-button">
                        <a href="{{banner_btn_link}}" class="btn btn-1">{{banner_btn_label}}</a>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
              {%- capture banner_css -%}
                {{sectionID}} .featured_group_tab-banner .banner_text .heading{
                  color: {{banner_heading_color}};
                  font-size: {{banner_heading_fz}};
                }
                {{sectionID}} .featured_group_tab-banner .banner_text .subheading{
                  color: {{banner_subheading_color}};
                  font-size: {{banner_subheading_fz}};
                }
                {{sectionID}} .featured_group_tab-banner .banner-textbox {
                  left: {{banner_text_position[0]}};
                  top: {{banner_text_position[1]}};
                }
                {{sectionID}} .featured_group_tab-banner .banner_button {
                  margin: {{banner_btn_margin}};
                }
              {%- endcapture -%}
              {%- assign section_css = section_css | append: banner_css -%}
            {%- endif -%}
            <div class="col-12 {% if tab_style == '2' %}col-lg-9{% endif %} featured_group_tab-ui">
              <div class="featured_group_tab-header">
                <div class="section_title-wrapper">
                  {%- if tab_style == '1' -%}
                    <div class="section_title-text-1">
                      <h3>{{section.settings.section_title}}</h3>
                    </div>
                  {%- endif -%}
                  <div class="featured_group_tab-controls">
                    {%- comment -%}
                      **
                      * Section content
                      *
                    {%- endcomment-%}
                    {%- if section.blocks.size > 0 -%}
                      {%- for block in section.blocks -%}
                        {%- liquid
                          assign _collection      = block.settings.collection
                          assign collection       = collections[_collection]
                          assign _collectionTitle = block.settings.title | default: collection.title
                          assign tnsConfig = 'tns-config-'  | append: block.id
                        -%}
                        {%- capture tabPaneID -%}pane_{{block.id}}-{{forloop.index}}{%- endcapture -%}

                        <a href="#" onclick="return false" class="featured_group_tab-link{% if forloop.first %} active{% endif %} js-tab-control" data-target="{{tabPaneID}}" {{block.shopify_attributes}}>
                          {%- if _collection != blank and collection.all_products_count >= 0 -%}
                            <span>{{ _collectionTitle }}</span>
                          {%- else -%}
                            <span>Tab title #{{forloop.index}}</span>
                          {%- endif -%}
                        </a>

                        {%- capture tabPane_item -%}
                          <div class="featured_group_tab-pane{% if  forloop.first %} active{% endif %} js-tab-content" id="{{ tabPaneID }}">
                            <div class="featured_group_tab-pane-inner" data-slide-wrapper>
                              <div class="row{% if _enable_slider %} slide_ui-element js-tns{% endif %}" data-config="{{tnsConfig}}">
                                {%- if _collection != blank and collection.products.size > 0 -%}
                                  {%- for product in collection.products limit: _total -%}
                                    <section class="product-section {{gridClass}}">
                                      <div
                                        class="lazyload lazy-product-card"
                                        data-id="{{product.id}}"
                                        data-include="{{routes.root_url}}collections/{{collection.handle}}/products/{{product.handle}}?view=product-card"
                                        data-type="product-card">
                                      </div>
                                      {% comment %} {%- render 'product-item', product: product, catalogMode: section.settings.enable_catalog, collection: collection -%} {% endcomment %}
                                    </section>
                                  {%- endfor -%}

                                {%- else -%}
                                  {%- assign _total = section.settings.total | minus: 1 -%}
                                  {%- for i in (0.._total) -%}
                                    <section class="product-section {{gridClass}}">
                                      {%- include 'svgset', type: 'empty-product' -%}
                                    </section>
                                  {%- endfor -%}
                                {%- endif -%}
                              </div>
                              {%- if _enable_slider -%}
                                {%- render 'set-item-per-row' type: 'slider', section: section , configID: tnsConfig -%}
                              {%- endif -%}
                            </div>
                          </div>
                        {%- endcapture -%}
                        {%- assign tabPaneContent = tabPaneContent | append: tabPane_item -%}
                      {%- endfor -%}

                    {%- else -%}

                      {%- comment -%}
                        **
                        * Empty Content
                        *
                      {%- endcomment-%}
                      {%- for i in (1..3) -%}
                        {%- capture tabPaneID -%}pane_{{section.id}}-{{i}}{%- endcapture -%}
                        <div class="featured_group_tab-link{% if forloop.first %} active{% endif %} js-tab-control">
                          <a href="#" onclick="return false" data-target="{{ tabPaneID }}">
                            <span>Tab title #{{i}}</span>
                          </a>
                        </div>

                        {%- capture tabPane_item -%}
                          <div class="featured_group_tab-pane{% if forloop.first %} active{% endif %}" id="{{ tabPaneID }}">
                            <div class="row">
                              {%- assign _total = section.settings.total | minus: 1 -%}
                              {%- for i in (0.._total) -%}
                                <div class="product-section {{gridClass}}">
                                  {%- include 'svgset', type: 'empty-product' -%}
                                </div>
                              {%- endfor -%}
                            </div>
                          </div>
                        {%- endcapture -%}
                        {%- assign tabPaneContent = tabPaneContent | append: tabPane_item -%}
                      {%- endfor -%}
                    {%- endif -%}
                  </div>
                </div>

              </div>

              <div class="featured_group_tab-body">
                <div class="featured_group_tab-content">{{ tabPaneContent }}</div>
              </div>

            </div>
          </div>

        </div>
      </div>
    {%- if _layout == 'boxed' -%}</div>{%- endif -%}
  </div>


  {%- capture sectionCss -%}
    {%- liquid
      echo section_css
      render 'snippet-theme', type: 'sectionCSS', ID: sectionID
    -%}
  {%- endcapture -%}{%- assign sectionCss = sectionCss | strip_newlines -%}
  <style>{{sectionCss}}</style>

{%- endcapture -%}

{%- render 'compress' content: content -%}
<arena class="d-none">{{section.id}}:product-tab</arena>

{% schema %}
{
  "name": {
    "en": "Products Tab"
  },
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Products Tab' section"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Section Label [:id]"
      },
      "default": "Products Tab"
    },
    {
      "type": "header",
      "content": {
        "en": "LAYOUT"
      }
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "select",
      "id": "tab_style",
      "label": "Style",
      "options": [
        {
          "value": "1",
          "label": "1. Tab default"
        },
        {
          "value": "2",
          "label": "2. Tab with Image"
        }
      ]
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": {
        "en": "Section Padding"
      },
      "placeholder": {
        "en": "E.g: 5px 20px 5px 20px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "label": {
        "en": "Mobile layout"
      },
      "options": [
        {
          "value": "boxed",
          "label": {
            "en": "Boxed"
          }
        },
        {
          "value": "full",
          "label": {
            "en": "Wide"
          }
        },
        {
          "value": "full-right",
          "label": {
            "en": "Only full right"
          }
        }
      ],
      "default": "boxed",
      "info": {
        "en": "Only full right use for slider"
      }
    },
    {
      "type": "richtext",
      "id": "section_title",
      "label": {
        "en": "Title"
      },
      "info": "Doesn't work on \"Style 2\""
    },
    {
      "type": "header",
      "content": {
        "en": "Layout content"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_catalog",
      "label": {
        "en": "Enable Catalog mode"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "total",
      "label": {
        "en": "Tab total items"
      },
      "default": "10",
      "placeholder": {
        "en": "E.g: 10"
      }
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": {
        "en": "Max number of items per row"
      },
      "default": "5,3,2",
      "placeholder": {
        "en": "E.g: 4,3,2"
      }
    },
    {
      "type": "text",
      "id": "grid_spc",
      "label": {
        "en": "Item spacing"
      },
      "default": "10px",
      "placeholder": {
        "en": "E.g: 10px"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Slider settings"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": {
        "en": "Enable Slider"
      }
    },
    {
      "type": "checkbox",
      "id": "controls",
      "label": {
        "en": "Show controls"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": {
        "en": "Show Dots"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en": "Banner"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "Do work on \"Style 2\""
      }
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "text",
      "id": "banner_heading",
      "label": {
        "en": "Heading"
      }
    },
    {
      "type": "text",
      "id": "banner_heading_fz",
      "label": {
        "en": "Font size"
      },
      "info": "E.g: 24px"
    },
    {
      "type": "color",
      "id": "banner_heading_color",
      "label": "Text color"
    },
    {
      "type": "text",
      "id": "banner_subheading",
      "label": {
        "en": "Subheading"
      }
    },
    {
      "type": "text",
      "id": "banner_subheading_fz",
      "label": {
        "en": "Font size"
      },
      "info": "E.g: 20px"
    },
    {
      "type": "color",
      "id": "banner_subheading_color",
      "label": "Text color"
    },
    {
      "type": "text",
      "id": "banner_btn_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "banner_btn_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "banner_btn_margin",
      "label": {
        "en": "Button margin"
      },
      "placeholder": "E.g: 10px 0px 0px 0px",
      "info": "Order: top right bottom left"
    },
    {
      "type": "text",
      "id": "banner_text_position",
      "label": {
        "en": "Textbox position"
      },
      "placeholder": "E.g: 50%,50%",
      "info": "Order: Horizontal,Vertical"
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": {
        "en": "Collection"
      },
      "limit": 5,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": {
            "en": "Collection"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Tab title"
          },
          "info": {
            "en": "Default is collection title"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Products Tab"
      },
      "category": "Collection",
      "blocks": []
    }
  ]
}
{% endschema %}