{%- liquid
  assign sectionID       = '.section-' | append: section.id
  assign layout          = section.settings.layout
  assign default_color   = 'rgba(0,0,0,0)'
  assign bg_color        = section.settings.bg_color | default: default_color
  assign bg_full         = section.settings.bg_full
  assign items_resp      = section.settings.items_resp | default: '2,1' | replace: ',', ';' | replace: ';', ', 1fr;' | append: ', 1fr'
  assign grid_spc        = section.settings.grid_spc
  assign section_padding = section.settings.section_padding
-%}

{%- capture section_class -%}
  {{--}}multiple-banner {% if layout -%} layout-boxed {%- else -%} layout-full{%- endif -%}
  {{--}}|{{- sectionID | remove_first: '.'-}}
  {{--}}{%- if bg_full and bg_color != default_color -%}|" style="background-color: {{bg_color}}; {%- endif -%}
{%- endcapture -%}

{%- capture content -%}

  <div class="{{section_class | split: '|' | join: ' '}}" test="{{items_resp}}" data-section-type="multiple-banner" data-section-id="{{section.id}}">
    {%- if layout -%} <div class="container"> {%- endif -%}
      <div class="section-wrapper">
        <div class="section-content d-grid">
          {%- for block in section.blocks -%}
            {%- liquid
              assign blockID = ' .block-' | append: block.id
              assign banner_image = block.settings.banner_image
              assign image_link   = block.settings.image_link
              assign bg_color     = block.settings.bg_color | default: default_color
              assign text_align   = block.settings.text_align
            -%}

            {%- capture block_class -%}
              {{--}}banner-item
              {{--}}|{{blockID | remove_first: ' .'}}
              {{--}}{%- if bg_color != default_color -%}|"style="background-color: {{bg_color}}; {%- endif -%}
            {%- endcapture -%}
            <div class="{{block_class | split: '|' | join: ' '}}">
              <div class="banner-item_wrapper" style="position: relative;">
                <div class="banner-item_image">
                  <a href="{{image_link | default: '#'}}" class="image">
                    {%- render 'image-style' image: banner_image -%}
                  </a>
                </div>
                <div class="banner-item_content overlay-ui text-{{text_align}} justify-content-{{text_align | replace: 'left', 'start' | replace: 'right', 'end'}}">
                  {%- for i in (1..4) -%}
                    {%- liquid
                      assign text        = 'text_' | append: i
                      assign text        = block.settings[text]
                      if text == blank
                        continue
                      endif
                      assign nextClassID = ' .text-' | append: i
                      assign color       = 'text_color_' | append: i
                      assign font_size   = 'text_fs_' | append: i
                      assign margin      = 'text_mr_' | append: i
                      assign font_weight = 'text_fw_' | append: i

                      assign color       = block.settings[color] | default: default_color
                      assign font_size   = block.settings[font_size]
                      assign margin      = block.settings[margin]
                      assign font_weight = block.settings[font_weight]
                    -%}
                    {%- capture style -%}
                      {%- if color != default_color -%} color: {{color}}; {%- endif -%}
                      font-weight: {{font_weight}};
                    {%- endcapture -%}
                    <div class="{{nextClassID | remove_first: ' .'}}" style="{{style}}">{{text}}</div>

                    {%- capture css_values -%}
                      {%- if font_size != blank -%}{%- render 'css-resp' type: 'value', showFirst: true, css_value: font_size, css_property: 'font-size' -%}{%- endif -%}
                      {%- if margin != blank -%}{%- render 'css-resp' type: 'value', showFirst: true, css_value: margin, css_property: 'margin' -%}{%- endif -%}
                    {%- endcapture -%}

                    {%- capture text_css -%}
                      {%- render 'css-resp' preClassID: sectionID, classID: blockID, nextClassID: nextClassID , css_values: css_values -%}
                      {%- render 'css-resp' preClassID: sectionID, classID: blockID, nextClassID: nextClassID ,showLast: true, css_value: font_size, css_property: 'font-size' -%}
                      {%- render 'css-resp' preClassID: sectionID, classID: blockID, nextClassID: nextClassID ,showLast: true, css_value: margin, css_property: 'margin' -%}
                    {%- endcapture -%}
                    {%- assign section_css = section_css | append: text_css -%}
                  {%- endfor -%}

                  {%- for i in (1..2) -%}
                    {%- liquid
                      assign btn_label  = 'btn_label_' | append: i
                      assign btn_label  = block.settings[btn_label] | strip
                      if btn_label == blank
                        continue
                      endif
                      assign btn_url    = 'btn_url_' | append: i
                      assign btn_icon   = 'btn_icon_' | append: i
                      assign bg_color   = 'btn_bg_color_' | append: i
                      assign text_color = 'btn_text_color_' | append: i

                      assign btn_url    = block.settings[btn_url]
                      assign btn_icon       = block.settings[btn_icon]
                      assign bg_color   = block.settings[bg_color] | default: default_color
                      assign text_color = block.settings[text_color] | default: default_color
                    -%}
                    {%- if btn_label != blank -%}
                      {%- capture style_inline -%}
                        {%- if bg_color != default_color -%} background-color: {{bg_color}};{%- endif -%}
                        {%- if text_color != default_color -%} color: {{text_color}};{%- endif -%}
                      {%- endcapture -%}
                      <a href="{{btn_url | default: '#'}}" class="btn btn-banner" style="{{style_inline}}">
                        {{btn_icon}}
                        <span>{{btn_label}}</span>
                      </a>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- if layout -%} </div> {%- endif -%}
  </div>

  {%- capture sectionCSS -%}
    {{section_css}}
    {%- render 'css-resp' preClassID: sectionID, css_value: section_padding, css_property: 'padding' -%}
    {%- render 'css-resp' preClassID: sectionID, classID: ' .d-grid' css_value: items_resp, css_property: 'grid-template-columns', css_value_before: 'repeat', css_split: ';' -%}
    {%- render 'css-resp' preClassID: sectionID, classID: ' .d-grid' css_value: grid_spc, css_property: 'grid-gap' -%}
  {%- endcapture -%}

  <style>{{sectionCSS}}</style>

{%- endcapture -%}


{%- render 'compress' content: content -%}
<arena class="d-none">{{section.id}}</arena>
{%- schema -%}
{
  "name": {
    "en": "Multiple banner"
  },
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created 'Multiple banner' section"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Title"
      },
      "default" : "Multiple banner"
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type" : "checkbox",
      "id" : "layout",
      "label" : {
        "en": "Boxed layout"
      }
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": {
        "en": "Section padding"
      },
      "info": {
        "en": "E.g: 2px 10px 20px 0px. Order: Top Left Bottom Right."
      }
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type" : "checkbox",
      "id" : "bg_full",
      "label" : {
        "en": "Section background full."
      }
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": {
        "en": "Max number of items per row"
      },
      "default" : "2,1"
    },
    {
      "type": "text",
      "id": "grid_spc",
      "label": {
        "en": "Item spacing"
      },
      "default" : "10px"
    }
  ],
  "blocks": [
    {
      "type" : "banner-item",
      "name" : {
        "en": "Banner item"
      },
      "settings" : [
        {
          "type": "header",
          "content": {
            "en": "General settings"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Image"
          }
        },
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type" : "url",
          "id" : "image_link",
          "label" : {
            "en": "Image link"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Content"
          }
        },
        {
          "type": "select",
          "id": "text_align",
          "label" : {
            "en" : "Text alignment"
          },
          "options": [
           {
              "value": "left",
              "label": {
                "en": "Left"
              }
           },
           {
             "value": "center",
             "label": {
               "en": "Center"
             }
           },
           {
             "value": "right",
             "label": {
               "en": "Right"
             }
           }
          ]
        },
        {
          "type": "html",
          "id": "text_1",
          "label": {
            "en": "Text 1"
          }
        },
        {
          "type": "color",
          "id": "text_color_1",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "text",
          "id": "text_fs_1",
          "label": {
            "en": "Font size"
          }
        },
        {
          "type" : "range",
          "id": "text_fw_1",
          "label": {
            "en" : "Font weight"
          },
          "step": 100,
          "min" : 100,
          "max" : 900,
          "default" : 400
        },
        {
          "type": "text",
          "id": "text_mr_1",
          "label": {
            "en": "Margin"
          }
        },
        {
          "type": "html",
          "id": "text_2",
          "label": {
            "en": "Text 2"
          }
        },
        {
          "type": "color",
          "id": "text_color_2",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "text",
          "id": "text_fs_2",
          "label": {
            "en": "Font size"
          }
        },
        {
          "type" : "range",
          "id": "text_fw_2",
          "label": {
            "en" : "Font weight"
          },
          "step": 100,
          "min" : 100,
          "max" : 900,
          "default" : 400
        },
        {
          "type": "text",
          "id": "text_mr_2",
          "label": {
            "en": "Margin"
          }
        },
        {
          "type": "html",
          "id": "text_3",
          "label": {
            "en": "Text 3"
          }
        },
        {
          "type": "color",
          "id": "text_color_3",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "text",
          "id": "text_fs_3",
          "label": {
            "en": "Font size"
          }
        },
        {
          "type" : "range",
          "id": "text_fw_3",
          "label": {
            "en" : "Font weight"
          },
          "step": 100,
          "min" : 100,
          "max" : 900,
          "default" : 400
        },
        {
          "type": "text",
          "id": "text_mr_3",
          "label": {
            "en": "Margin"
          }
        },
        {
          "type": "html",
          "id": "text_4",
          "label": {
            "en": "Text 4"
          }
        },
        {
          "type": "color",
          "id": "text_color_4",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "text",
          "id": "text_fs_4",
          "label": {
            "en": "Font size"
          }
        },
        {
          "type" : "range",
          "id": "text_fw_4",
          "label": {
            "en" : "Font weight"
          },
          "step": 100,
          "min" : 100,
          "max" : 900,
          "default" : 400
        },
        {
          "type": "text",
          "id": "text_mr_4",
          "label": {
            "en": "Margin"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Button 1"
          }
        },
        {
          "type": "text",
          "id": "btn_label_1",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "html",
          "id": "btn_icon_1",
          "label": {
            "en": "Button icon"
          }
        },
        {
          "type" : "url",
          "id" : "btn_url_1",
          "label" : {
            "en": "Button link"
          }
        },
        {
          "type": "color",
          "id": "btn_text_color_1",
          "label": {
            "en": "Text color"
          }
        },
        {
          "type": "color",
          "id": "btn_bg_color_1",
          "label": {
            "en": "Background color"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Button 2"
          }
        },
        {
          "type": "text",
          "id": "btn_label_2",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "html",
          "id": "btn_icon_2",
          "label": {
            "en": "Button icon"
          }
        },
        {
          "type" : "url",
          "id" : "btn_url_2",
          "label" : {
            "en": "Button link"
          }
        },
        {
          "type": "color",
          "id": "btn_text_color_2",
          "label": {
            "en": "Text color"
          }
        },
        {
          "type": "color",
          "id": "btn_bg_color_2",
          "label": {
            "en": "Background color"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multiple banner",
      "category": "Banner"
    }
  ]
}
{%- endschema -%}