
{% liquid
  if section.settings.layout
    assign _layout = 'boxed'
  else
    assign _layout = 'full'
  endif
  assign _hide_mobile          = section.settings.hide_mobile
  assign bg_color              = section.settings.bg_color | default: 'rgba(0,0,0,0)'
  assign _item_per_row         = section.settings.item_per_row | default: '5,3,2'
  assign _heading              = section.settings.heading
  assign _heading_color        = section.settings.heading_color
  assign _heading_size         = section.settings.heading_size
  assign bg_image              = section.settings.bg_image
  assign bg_full               = section.settings.bg_full
  assign bg_repeat             = section.settings.bg_repeat
  assign bg_position           = section.settings.bg_position
  assign bg_size               = section.settings.bg_size
  assign sectionHeading_text_1 = section.settings.sectionHeading_text_1
  assign heading_fs            = section.settings.heading_fs
  assign sectionHeading_text_2 = section.settings.sectionHeading_text_2
  assign subheading_fs         = section.settings.subheading_fs
%}


{%- capture sectionID -%}.section-{{section.id}} {%- endcapture -%}

{%- capture gridClass -%}{% render 'set-item-per-row' value: _item_per_row %}{%- endcapture -%}

{%- capture section_class -%}
  logo-list {% if _hide_mobile %}d-none d-lg-block{% endif %} section-{{section.id}} style-{{section.settings.style}}
  {% if bg_full %}{%- render 'bgset' image: section.settings.bg_image -%}{%- endif -%}
{%- endcapture -%}

{%- capture content -%}

  <div class="{{section_class | strip_newlines}}"data-section-id="{{section.id}}"data-section-type="logo-list">
    {% if _layout == 'boxed'  %}<div class="container">{%- endif -%}
      <div class="logo-list_wrapper {%- unless bg_full -%}{%- render 'bgset' image: section.settings.bg_image -%}{%- endunless -%}">
        {%- case section.settings.style -%}
          {%- when '1' -%}
            {%- unless section.settings.sectionHeading_text_1 == blank and section.settings.sectionHeading_text_2 == blank -%}
              <div class="section_content-head">
                {%- include 'snippet-theme', type: 'sectionHeading' -%}
              </div>
            {%- endunless -%}
            <div class="section_content-body">
              <div class="js-tns logo-list_content" data-config="tns-config-{{section.id}}">
                {%- for block in section.blocks -%}
                  <div class="logo-item {{gridClass}}">
                    {%- case block.settings.type -%}
                      {%- when 'image' -%}
                        <a href="{{block.settings.link | default: 'javascript:void(0);'}}" class="image">
                          {% render 'image-style' image: block.settings.image, originQuality: true %}
                        </a>
                      {%- when 'svg' -%}
                        <a href="{{block.settings.link | default: 'javascript:void(0);'}}" class="svg">
                          {{block.settings.svg}}
                        </a>
                    {%- endcase -%}
                  </div>
                {%- endfor -%}
              </div>
              {% render 'set-item-per-row', type: 'slider', section: section, value: true, count: section.blocks.size  %}
            </div>
          {%- when '2' -%}
            <div class="row">
              {%- if sectionHeading_text_1 != blank or sectionHeading_text_2 != blank -%}
                <div class="col-12 col-lg-6">
                  <div class="section_content-head">
                    {%- include 'snippet-theme', type: 'sectionHeading' -%}
                  </div>
                </div>
                <div class="col-12 col-lg-6 d-flex align-items-center">
                  <div class="section_content-body w-100">
                    <div class="js-tns logo-list_content" data-config="tns-config-{{section.id}}">
                      {%- for block in section.blocks  -%}
                        <div class="logo-item {{gridClass}}">
                          {%- case block.settings.type -%}
                            {%- when 'image' -%}
                              <a href="{{block.settings.link | default: 'javascript:void(0);'}}" class="image">
                                {% render 'image-style' image: block.settings.image, originQuality: true %}
                              </a>
                            {%- when 'svg' -%}
                              <a href="{{block.settings.link | default: 'javascript:void(0);'}}" class="svg">
                                {{block.settings.svg}}
                              </a>
                          {%- endcase -%}
                        </div>
                      {%- endfor -%}
                    </div>
                    {% render 'set-item-per-row', type: 'slider', section: section, value: true, count: section.blocks.size  %}
                  </div>
                </div>
              {%- else -%}
                <div class="col-12">
                  <div class="section_content-body">
                    <div class="js-tns logo-list_content" data-config="tns-config-{{section.id}}">
                      {%- for block in section.blocks  -%}
                        <div class="logo-item {{gridClass}}">
                          <a href="{{block.settings.link | default: 'javascript:void(0);'}}" class="image">
                            {% render 'image-style' image: block.settings.image, originQuality: true %}
                          </a>
                        </div>
                      {%- endfor -%}
                    </div>
                    {% render 'set-item-per-row', type: 'slider', section: section, value: true, count: section.blocks.size  %}
                  </div>
                </div>
              {%- endif -%}
            </div>
        {%- endcase -%}

      </div>
    {% if _layout == 'boxed'  %}</div>{%- endif -%}
  </div>


  {%- capture css_values -%}
    background-size: {{bg_size}};
    background-position: {{bg_position}};
    background-repeat: {{bg_repeat}};
    background-color: {{bg_color}};
  {%- endcapture -%}

  {%- capture sectionCss -%}
    {%- case bg_full -%}
      {%- when true -%}
        {%- render 'css-resp' preClassID: sectionID, css_values: css_values -%}
      {%- when false -%}
        {%- render 'css-resp' preClassID: sectionID, classID: ' .logo-list_wrapper', css_values: css_values -%}
    {%- endcase -%}
    {% if heading_fs != blank %}{%- render 'css-resp' preClassID: sectionID, classID: ' .section_title-text-1', css_value: heading_fs, css_property: 'font-size'  -%}{%- endif -%}
    {% if subheading_fs != blank %}{%- render 'css-resp' preClassID: sectionID, classID: ' .section_title-text-1', css_value: subheading_fs, css_property: 'font-size'  -%}{%- endif -%}
  {%- endcapture -%}{%- assign section_css = section_css | append: sectionCss -%}

  <style>
    {{- section_css -}}
  </style>

{%- endcapture -%}

{%- render 'compress' content: content -%}
<arena class="d-none">{{section.id}}:logo-list</arena>


{% schema %}
{
  "name": {
    "en": "Logo List"
  },
  "tag" : "section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Logo List' section"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "General settings"
      }
    },
    {
      "id": "title",
      "type": "text",
      "label": {
        "en": "Section Label"
      },
      "default": "Logo List"
    },
    {
      "type": "checkbox",
      "id": "hide_mobile",
      "label": {
        "en": "Visibility: Hide for Mobile"
      }
    },
    {
      "type": "checkbox",
      "id": "layout",
      "label": {
        "en": "Boxed"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "style",
      "label" : {
        "en" : "Style"
      },
      "options": [
       {
          "value": "1",
          "label": {
            "en": "1"
          }
       },
       {
         "value": "2",
         "label": {
           "en": "2"
         }
       }
      ]
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": {
        "en": "Max number of items per row"
      },
      "default": "5,3,2",
      "placeholder": {
        "en": "E.g: 2,1"
      }
    },
    {
      "type": "text",
      "id": "grid_spc",
      "label": {
        "en": "Item spacing"
      },
      "default": "10px",
      "placeholder": {
        "en": "E.g: 10px"
      }
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": {
        "en": "Background Color"
      },
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "select",
      "id": "bg_size",
      "label": {
        "en": "Background size"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "cover",
          "label": {
            "en": "Cover"
          }
        },
        {
          "value": "contain",
          "label": {
            "en": "Contain"
          }
        }
      ],
      "default": "auto"
    },
    {
      "type": "select",
      "id": "bg_repeat",
      "label": {
        "en": "Background repeat"
      },
      "options": [
        {
          "value": "no-repeat",
          "label": {
            "en": "No repeat"
          }
        },
        {
          "value": "repeat",
          "label": {
            "en": "Repeat"
          }
        },
        {
          "value": "repeat-x",
          "label": {
            "en": "Repeat X"
          }
        },
        {
          "value": "repeat-y",
          "label": {
            "en": "Repeat Y"
          }
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": {
        "en": "Background position"
      },
      "options": [
        {
          "value": "left top",
          "label": {
            "en": "Left Top"
          }
        },
        {
          "value": "left center",
          "label": {
            "en": "Left Center"
          }
        },
        {
          "value": "left bottom",
          "label": {
            "en": "Left Bottom"
          }
        },
        {
          "value": "right top",
          "label": {
            "en": "Right Top"
          }
        },
        {
          "value": "right center",
          "label": {
            "en": "Right Center"
          }
        },
        {
          "value": "right bottom",
          "label": {
            "en": "Right Bottom"
          }
        },
        {
          "value": "center top",
          "label": {
            "en": "Center Top"
          }
        },
        {
          "value": "center center",
          "label": {
            "en": "Center Center"
          }
        },
        {
          "value": "center bottom",
          "label": {
            "en": "Center Bottom"
          }
        }
      ],
      "default" : "center center"
    },
    {
      "type": "checkbox",
      "id": "bg_full",
      "label": {
        "en": "Full section background"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Section Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_1",
      "label": {
        "en": "Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_2",
      "label": {
        "en": "Subheading"
      }
    },
    {
      "type": "select",
      "id": "sectionHeading_align",
      "label": {
        "en": "Alignment"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ],
      "default": "auto"
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_1",
      "label": {
        "en": "Heading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "text",
      "id": "heading_fs",
      "label": {
        "en": "Heading font size"
      }
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_2",
      "label": {
        "en": "Subheading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "text",
      "id": "subheading_fs",
      "label": {
        "en": "Subheading font size"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Slider settings"
      }
    },
    {
      "type" : "checkbox",
      "id" : "loop",
      "label" : {
        "en": "Loop"
      }
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": {
        "en": "Show dots"
      }
    },
    {
      "type": "checkbox",
      "id": "controls",
      "label": {
        "en": "Show controls"
      }
    },
    {
      "type" : "checkbox",
      "id" : "autoplay",
      "label" : {
        "en": "Autoplay"
      }
    },
    {
      "type": "text",
      "id": "autoplay_timeout",
      "label": {
        "en": "Auto switch slide (in s)"
      }
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "Image"
      },
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label" : {
            "en" : "Type"
          },
          "options": [
           {
              "value": "image",
              "label": {
                "en": "Image"
              }
           },
           {
             "value": "svg",
             "label": {
               "en": "SVG"
             }
           }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type" : "textarea",
          "id" : "svg",
          "label" : {
            "en" : "SVG"
          },
          "info": {
            "en": "Please enter SVG code."
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Logo List"
      },
      "category": "Banner",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
