{%- liquid
  assign default_color   = 'rgba(0,0,0,0)'
  assign boxed_layout    = section.settings.boxed_layout
  assign section_height  = section.settings.section_height
  assign section_padding = section.settings.section_padding

  assign bg_color    = section.settings.bg_color
  assign bg_image    = section.settings.bg_image
  assign bg_position = section.settings.bg_position
  assign bg_repeat   = section.settings.bg_repeat
  assign bg_size     = section.settings.bg_size
  assign btn_label   = section.settings.btn_label
  assign btn_url     = section.settings.btn_url
  assign btn_style   = section.settings.btn_style
-%}

{%- capture section_class -%}
  {{--}}single-banner
  {{--}}|section-{{section.id}}
  {{--}}|{%- if boxed_layout -%} layout-full {%else%} layout-boxed {%- endif -%}
{%- endcapture -%}
{%- capture sectionID -%}.section-{{section.id}}{%- endcapture-%}
{%- capture content -%}
  <div class="{{section_class | split: '|' | join: ' '}}" data-section-type='single-banner' data-section-id="{{section.id}}">
    {%- if boxed_layout -%} <div class="container"> {%- endif -%}

      {%- capture bgset -%}{%- if bg_image != blank -%} {%- render 'bgset' image: bg_image -%} {%- endif -%}{%- endcapture -%}
      {%- capture style_inline -%}
        {%- if bg_color != default_color -%} background-color: {{bg_color}}; {%- endif -%}
        {%- if section_height != blank -%} height: var(--section-height); {%- endif -%}
      {%- endcapture -%}
      <div class="section-wrapper {{bgset}}" style="{{style_inline}}">
        <div class="section-content">
          <div class="banner-content">
            <div class="left-content">
              {%- for i in (1..3) -%}
                {%- liquid
                  assign content = 'content_' | append: i
                  assign icon    = 'icon_' | append: i

                  assign content = section.settings[content]
                  assign icon = section.settings[icon]
                  if content == blank
                    continue
                  endif
                -%}

                <div class="text-{{i}}">
                  {%- if icon != blank -%}
                    <div class="svg-wrapper">
                      {{icon}}
                    </div>
                  {%- endif -%}
                  {%- if content != blank -%} <span>{{content}}</span> {%- endif -%}
                </div>
              {%- endfor -%}
            </div>
            <div class="right-content">
            {%- if btn_label != blank or section.settings.content_4 != blank -%}
              <div class="text-4">
                {%- if section.settings.icon_4 != blank -%}
                  <div class="svg-wrapper">
                    {{section.settings.icon_4}}
                  </div>
                {%- endif -%}
                {%- if section.settings.content_4 != blank -%}
                  <span>{{section.settings.content_4}}</span>
                {%- endif -%}
              </div>
              {%- if btn_label != blank -%} <a href="{{btn_url}}" class="btn btn-{{btn_style}}">{{btn_label}}</a> {%- endif -%}
            {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {%- if boxed_layout -%} </div> {%- endif -%}
  </div>
  {%- capture sectionCss -%}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'content_style' -%}
          {{-sectionID}}{
            {%- for i in (1..4) -%}
              {%- liquid
                assign classID     = ' .banner-content .text-' | append: i
                assign color       = '--text-cl-'  | append: i
                assign font_size   = '--fs-' | append: i
                assign margin      = '--mr-' | append: i
                assign font_weight = '--fw-' | append: i

                assign text_color = 'text_cl_'  | append: i
                assign text_fs    = 'text_fs_'| append: i
                assign text_fw    = 'text_fw_'  | append: i
                assign text_mr    = 'text_mr_'  | append: i

                assign text_color = block.settings[text_color]
                assign text_fs    = block.settings[text_fs]
                assign text_fw    = block.settings[text_fw]
                assign text_mr    = block.settings[text_mr]
              -%}
              {%- capture block_css -%}
                {%- capture css_values -%}
                  {%- if text_color != default_color  -%} color: var({{color}});{%- endif -%}
                  font-weight: var({{font_weight}});
                  {%- if text_fs != blank -%} font-size: var({{font_size}});{%- endif -%}
                  {%- if text_mr != blank -%} margin: var({{margin}});{%- endif -%}
                {%- endcapture -%}
                {%- render 'css-resp' preClassID: sectionID, classID: classID, css_values: css_values -%}
              {%- endcapture -%}
              {%- assign section_css = section_css | append: block_css -%}

              {%- if text_color != default_color  -%} {{color}}: {{text_color}};{%- endif -%}
              {{font_weight}}: {{text_fw}};
              {%- if text_fs != blank -%}{%- render 'css-resp' type: 'value', showFirst: true, css_value: text_fs, css_property: font_size -%}{%- endif -%}
              {%- if text_mr != blank -%}{%- render 'css-resp' type: 'value', showFirst: true, css_value: text_mr, css_property: margin -%}{%- endif -%}

              {%- capture css_resp -%}
                {%- render 'css-resp' preClassID: sectionID,classID: ' .banner-content', showLast: true, css_value: text_fs, css_property: font_size  -%}
                {%- render 'css-resp' preClassID: sectionID,classID: ' .banner-content', showLast: true, css_value: text_mr, css_property: margin  -%}
              {%- endcapture -%}
              {%- assign section_css = section_css | append: css_resp -%}
            {%- endfor -%}
          }
        {% comment %} end {% endcomment %}
        {%- when 'button_style' -%}
          {%- liquid
            assign text_cl     = block.settings.btn_cl | default: default_color
            assign bg_cl       = block.settings.btn_bg_cl | default: default_color
            assign fs          = block.settings.btn_fs
            assign fw          = block.settings.btn_fw
            assign btn_padding = block.settings.btn_padding
            assign btn_radius = block.settings.btn_radius | default: '3px'
          -%}
          {%- capture block_css -%}
            {%- capture css_variable -%}
              {%- if text_cl != default_color -%}color: {{text_cl}};{%- endif -%}
              {%- if bg_cl != default_color -%}background-color: {{bg_cl}};{%- endif -%}
              border-radius: {{btn_radius}};
              {%- if fs != blank -%}{%- render 'css-resp' type: 'value', css_value: fs, showFirst: true, css_property: 'font-size'-%}{%- endif -%}
              {%- if btn_padding != blank -%}{%- render 'css-resp' type: 'value', css_value: btn_padding, showFirst: true, css_property: 'padding'-%}{%- endif -%}
              font-weight: {{fw}};
            {%- endcapture -%}
            {%- render 'css-resp' preClassID: sectionID, classID: ' .btn' css_values: css_variable -%}
            {%- render 'css-resp' preClassID: sectionID, classID: ' .btn', showLast: true, css_value: fs, css_property: 'font-size' -%}
            {%- render 'css-resp' preClassID: sectionID, classID: ' .btn', showLast: true, css_value: btn_padding, css_property: 'padding' -%}
          {%- endcapture -%}
          {%- assign section_css = section_css | append: block_css -%}
      {%- endcase -%}
    {%- endfor -%}

    {%- if section_height != blank -%} {%- render 'css-resp' preClassID: sectionID, css_value: section_height. css_property: '--section-height'  -%} {%- endif -%}
    {%- if section_padding != blank -%} {%- render 'css-resp' preClassID: sectionID, css_value: section_padding, css_property: 'padding' -%} {%- endif -%}
    {%- if bg_image != blank -%}
      {%- capture bg_style -%}
        {%- render 'css-resp' type: 'value' css_value: bg_position, css_property: 'background-position' -%}
        {%- render 'css-resp' type: 'value' css_value: bg_size, css_property: 'background-size' -%}
        {%- render 'css-resp' type: 'value' css_value: bg_repeat, css_property: 'background-repeat' -%}
      {%- endcapture -%}
      {%- render 'css-resp' preClassID: sectionID, classID: ' .section-wrapper', css_values: bg_style -%}
    {%- endif -%}
  {%- endcapture -%}

  <style>{{sectionCss}}{{section_css}}</style>
{%- endcapture -%}

{%- render 'compress', content: content -%}
<arena class="d-none">{{section.id}}</arena>

{% schema %}
{
  "name": {
    "en": "Single Banner"
  },
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Single Banner' section"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Section Label"
      },
      "default": "Single Banner"
    },
    {
      "type": "header",
      "content": {
        "en": "LAYOUT"
      }
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "section_height",
      "label": {
        "en": "Manual height"
      },
      "info": {
        "en": "E.g: 500px"
      },
      "default" : "500px"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": {
        "en": "Section padding"
      },
      "info": {
        "en": "E.g: 5px 10px 15px 20px. Order: Top Right Bottom Left."
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Banner settings"
      }
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "select",
      "id": "bg_size",
      "label": {
        "en": "Background size"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "cover",
          "label": {
            "en": "Cover"
          }
        },
        {
          "value": "contains",
          "label": {
            "en": "Contains"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": {
        "en": "Background position"
      },
      "options": [
        {
          "value": "left top",
          "label": {
            "en": "Left Top"
          }
        },
        {
          "value": "left center",
          "label": {
            "en": "Left Center"
          }
        },
        {
          "value": "left bottom",
          "label": {
            "en": "Left Bottom"
          }
        },
        {
          "value": "right top",
          "label": {
            "en": "Right Top"
          }
        },
        {
          "value": "right center",
          "label": {
            "en": "Right Center"
          }
        },
        {
          "value": "right bottom",
          "label": {
            "en": "Right Bottom"
          }
        },
        {
          "value": "center top",
          "label": {
            "en": "Center Top"
          }
        },
        {
          "value": "center center",
          "label": {
            "en": "Center Center"
          }
        },
        {
          "value": "center bottom",
          "label": {
            "en": "Center Bottom"
          }
        }
      ],
      "default": "center center"
    },
    {
      "type": "select",
      "id": "bg_repeat",
      "label": {
        "en": "Background repeat"
      },
      "options": [
        {
          "value": "no-repeat",
          "label": {
            "en": "No repeat"
          }
        },
        {
          "value": "repeat",
          "label": {
            "en": "Repeat"
          }
        },
        {
          "value": "repeat-x",
          "label": {
            "en": "Repeat X"
          }
        },
        {
          "value": "repeat-y",
          "label": {
            "en": "Repeat Y"
          }
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "header",
      "content": {
        "en": "Text 1"
      }
    },
    {
      "type": "html",
      "id": "content_1",
      "label": {
        "en": "Content"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Text 2 "
      }
    },
    {
      "type": "html",
      "id": "content_2",
      "label": {
        "en": "Content"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Text 3"
      }
    },
    {
      "type": "html",
      "id": "content_3",
      "label": {
        "en": "Content"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Text 4"
      }
    },
    {
      "type": "html",
      "id": "icon_4",
      "label": {
        "en": "Icon"
      }
    },
    {
      "type": "html",
      "id": "content_4",
      "label": {
        "en": "Content"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Button settings"
      }
    },
    {
      "type": "select",
      "id": "btn_style",
      "label" : {
        "en" : "Style"
      },
      "options": [
       {
          "value": "1",
          "label": {
            "en": "1"
          }
       },
       {
         "value": "2",
         "label": {
           "en": "2"
         }
       },
       {
         "value": "3",
         "label": {
           "en": "3"
         }
       },
       {
         "value": "custom",
         "label": {
           "en": "Custom"
         }
       }
      ],
      "info": {
        "en": "To custom style. Please add content 'Button Style'"
      }
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type" : "url",
      "id" : "btn_url",
      "label" : {
        "en": "Button link"
      }
    }
  ],
  "blocks": [
    {
      "type": "content_style",
      "name": {
        "en": "[+] Content Style"
      },
      "settings": [
        {
          "type": "header",
          "content": {
            "en": "Text 1"
          }
        },
        {
          "type": "text",
          "id": "text_fs_1",
          "label": {
            "en": "Font size"
          },
          "info": {
            "en": "E.g: 24px"
          }
        },
        {
          "type": "color",
          "id": "text_cl_1",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "range",
          "id": "text_fw_1",
          "label": {
            "en": "Font weight"
          },
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "text",
          "id": "text_mr_1",
          "label": {
            "en": "Margin"
          },
          "info": {
            "en": "E.g: 5px 8px 5px 8px.Order: Top Right Bottom Left"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 2"
          }
        },
        {
          "type": "text",
          "id": "text_fs_2",
          "label": {
            "en": "Font size"
          },
          "info": {
            "en": "E.g: 24px"
          }
        },
        {
          "type": "color",
          "id": "text_cl_2",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "range",
          "id": "text_fw_2",
          "label": {
            "en": "Font weight"
          },
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "text",
          "id": "text_mr_2",
          "label": {
            "en": "Margin"
          },
          "info": {
            "en": "E.g: 5px 8px 5px 8px.Order: Top Right Bottom Left"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 3"
          }
        },
        {
          "type": "text",
          "id": "text_fs_3",
          "label": {
            "en": "Font size"
          },
          "info": {
            "en": "E.g: 24px"
          }
        },
        {
          "type": "color",
          "id": "text_cl_3",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "range",
          "id": "text_fw_3",
          "label": {
            "en": "Font weight"
          },
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "text",
          "id": "text_mr_3",
          "label": {
            "en": "Margin"
          },
          "info": {
            "en": "E.g: 5px 8px 5px 8px.Order: Top Right Bottom Left"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 4"
          }
        },
        {
          "type": "text",
          "id": "text_fs_4",
          "label": {
            "en": "Font size"
          },
          "info": {
            "en": "E.g: 24px"
          }
        },
        {
          "type": "color",
          "id": "text_cl_4",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "range",
          "id": "text_fw_4",
          "label": {
            "en": "Font weight"
          },
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "text",
          "id": "text_mr_4",
          "label": {
            "en": "Margin"
          },
          "info": {
            "en": "E.g: 5px 8px 5px 8px.Order: Top Right Bottom Left"
          }
        }
      ]
    },
    {
      "type": "button_style",
      "name": {
        "en": "[+] Button Style"
      },
      "settings": [
        {
          "type": "text",
          "id": "btn_fs",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 24px"
          }
        },
        {
          "type": "color",
          "id": "btn_bg_cl",
          "label": {
            "en": "Background Color"
          }
        },
        {
          "type": "color",
          "id": "btn_cl",
          "label": {
            "en": "Text Color"
          }
        },
        {
          "type": "range",
          "id": "btn_fw",
          "label": {
            "en": "Font weight"
          },
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "text",
          "id": "btn_padding",
          "label": {
            "en": "Padding"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "E.g: 5px 8px 5px 8px. Order: Top Right Bottom Left."
          }
        },
        {
          "type": "text",
          "id": "btn_radius",
          "label": {
            "en": "Button rounded corners"
          },
          "info": {
            "en": "3px or 10%"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Single Banner"
      },
      "category": "Banner"
    }
  ]
}
{% endschema %}