{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign sectionType            = 'featured-product'
  assign _lazyload              = true
  assign _total 		            = section.settings.total | times: 1
  assign _collection 	          = section.settings.collection
  assign collection             = collections[_collection]
  assign _items_resp 	          = section.settings.items_resp | default: '3,2'
  assign sectionHeading_align   = section.settings.sectionHeading_align | default: 'auto'
-%}

{%- capture section_class -%}
	{{- -}}home-products-grid-v3
	{{- -}}|section-{{- section.id -}}
	{{- -}}|layout-{{- _layout -}}
  {%- render 'bgset' ,class: 'bg-image' ,image: section.settings.section_bg_image -%}
{%- endcapture -%}{%- assign section_class = section_class | strip | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}


{%- capture gridClass -%}{%- render 'set-item-per-row', value: _items_resp -%}{%- endcapture -%}
{%- capture content -%}
<div class="{{section_class}}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
  	<div class="section_content-wrapper">
      {%- comment -%}
        **
        * Special Item
        *
      {%- endcomment-%}

      {%- liquid
        assign specialBlock = section.blocks | where: 'type', 'content'
        unless specialBlock.size > 0
          assign specialBlock = section.blocks | where: 'type', 'content_product'
        endunless
        assign spcBlock       = specialBlock[0]
        assign _spc_position = spcBlock.settings.block_position | default: 'left'
      -%}

      {%- capture specialProduct -%}
        <div class="featured_block-special">
          {%- if specialBlock.size > 0 -%}
            {%- liquid
              assign _spc_banner          = spcBlock.settings.banner
              assign spc_product          = spcBlock.settings.product
              assign _productSelect       = all_products[spc_product].selected_or_first_available_variant
              assign _spc_heading         = spcBlock.settings.heading
              assign _spc_btn_label       = spcBlock.settings.btn_label
              assign _spc_btn_url         = spcBlock.settings.btn_url | default: 'javascript:void(0);'
            -%}

            <section class="featured_block-special-item">
              {%- unless _spc_banner == blank -%}

                {%- comment -%}
                  **
                  * Banner Image
                  *
                {%- endcomment-%}
                {%- render 'image-style', image: _spc_banner, customClass: ' featured_block-banner h-100', disablePadding: true -%}

                <div class="featured_block-content overlay-ui">
                  <div class="featured_block-content-inner">

                    {%- comment -%}
                      **
                      * Heading
                      *
                    {%- endcomment-%}
                    {%- unless _spc_heading == blank -%}
                      <div class="block_content-text">{{ _spc_heading }}</div>
                    {%- endunless -%}


                    {%- comment -%}
                      **
                      * Product to sell
                      *
                    {%- endcomment-%}
                    {%- if spc_product != blank and _productSelect.available -%}
                      <div class="block_content-product">
                        {%- liquid
                          assign priceOri  = _productSelect.price
                          assign priceCom  = _productSelect.compare_at_price
                          if _spc_btn_url == 'javascript:void(0);'
                            assign _spc_btn_url = _productSelect.url
                          endif
                        -%}

                        <div class="block_content-product-inner">
                          <div class="card_section-product">
                            <span class="card_section-price card_section-price-1">{{priceOri | money }}</span>
                            {%- if priceCom > priceOri -%}<del class="card_section-price-compare card_section-price-2">{{priceCom | money }}</del>{%- endif -%}
                          </div>
                        </div>
                      </div>
                    {%- endif -%}


                    {%- comment -%}
                      **
                      * SVG Content
                      *
                    {%- endcomment-%}
                    {%- liquid
                      assign _content_1    = spcBlock.settings.content_1
                      assign _content_2    = spcBlock.settings.content_2
                      assign _svg_c1       = spcBlock.settings.svg_content_1
                      assign _svg_c2       = spcBlock.settings.svg_content_2
                    -%}

                    {%- unless _content_1 == blank and _content_2 == blank -%}
                      <div class="block_content-svg-content">
                        <div class="block_content-svg-inner">
                          {%- unless _content_1 == blank -%}
                              <div class="block_content-sub">
                                {%- unless _svg_c1 == blank -%}<span class="svg-element-ui">{{_svg_c1}}</span>{%- endunless -%}
                                <span>{{_content_1}}</span>
                              </div>
                          {%- endunless -%}
                          {%- unless _content_2 == blank -%}
                              <div class="block_content-sub">
                                {%- unless _svg_c2 == blank -%}<span class="svg-element-ui">{{_svg_c2}}</span>{%- endunless -%}
                                <span>{{_content_2}}</span>
                              </div>
                          {%- endunless -%}
                        </div>
                      </div>
                    {%- endunless -%}



                    {%- comment -%}
                      **
                      * Button
                      *
                    {%- endcomment-%}
                    {%- unless _spc_btn_label == blank -%}
                      <div class="block_content-button card_section-button">
                        <a href="{{ _spc_btn_url | default: 'javascript:void(0);' }}" class="btn btn-slide btn-{{spcBlock.settings.btn_style}}">{{ _spc_btn_label }}</a>
                      </div>
                    {%- endunless -%}
                  </div>
                </div>

                {%- comment -%}
                  **
                  * Style sheet
                  *
                {%- endcomment-%}
                {%- capture block_css -%}
                  {%- render 'css-resp', classID: sectionID, nextClassID: ' .featured_block-content-inner', css_value: spcBlock.settings.padding -%}
                  {%- render 'css-resp', classID: sectionID, nextClassID: ' .featured_block-content-inner', css_value: spcBlock.settings.align, css_property: 'text-align' -%}
                  {%- render 'css-resp', classID: sectionID, nextClassID: ' .featured_block-content.overlay-ui', css_value: spcBlock.settings.position, type: 'position' -%}
                  {%- render 'css-resp', classID: sectionID, nextClassID: ' .featured_block-special-item', css_value: spcBlock.settings.min_height, css_property: 'height' -%}
                  {%- render 'css-resp', classID: sectionID, nextClassID: ' .featured_block-banner img', css_value: spcBlock.settings.image_position, css_property: 'object-position' -%}

                  {%- unless _spc_heading == blank -%}
                    {%- liquid
                      assign _spc_content_cl           = spcBlock.settings.content_cl | default: 'rgba(0,0,0,0)'
                      assign _spc_content_fw           = spcBlock.settings.content_fw
                      assign _spc_content_fs           = spcBlock.settings.content_fs
                      assign _spc_content_margin       = spcBlock.settings.content_margin
                      assign _spc_content_lh           = spcBlock.settings.content_lh
                    -%}
                    {%- capture firstValue -%}
                      {%- unless _spc_content_cl == 'rgba(0,0,0,0)' -%}color: {{_spc_content_cl}};{%- endunless -%}
                      {%- unless _spc_content_fw == 0 -%}font-weight: {{_spc_content_fw}};{%- endunless -%}
                      {%- render 'css-resp', type: 'value', showFirst: true, css_value: _spc_content_fs, css_property: 'font-size' -%}
                      {%- render 'css-resp', type: 'value', showFirst: true, css_value: _spc_content_margin, css_property: 'margin' -%}
                      {%- render 'css-resp', type: 'value', showFirst: true, css_value: _spc_content_lh, css_property: 'line-height' -%}
                    {%- endcapture -%}

                    {%- render 'css-resp', classID: sectionID, nextClassID: ' .block_content-text', css_values: firstValue -%}
                    {%- render 'css-resp', classID: sectionID, nextClassID: ' .block_content-text', showLast: true, css_value: _spc_content_fs, css_property: 'font-size' -%}
                    {%- render 'css-resp', classID: sectionID, nextClassID: ' .block_content-text', showLast: true, css_value: _spc_content_margin, css_property: 'margin' -%}
                    {%- render 'css-resp', classID: sectionID, nextClassID: ' .block_content-text', showLast: true, css_value: _spc_content_lh, css_property: 'line-height' -%}
                  {%- endunless -%}

                  {%- unless _content_1 == blank and _content_2 == blank -%}
                    {%- liquid
                      assign _subcontent_cl     = spcBlock.settings.subcontent_cl | default: 'rgba(0,0,0,0)'
                      assign _subcontent_fw     = spcBlock.settings.subcontent_fw
                      assign _subcontent_fs     = spcBlock.settings.subcontent_fs
                      assign _subcontent_margin = spcBlock.settings.subcontent_margin
                      assign _subcontent_lh     = spcBlock.settings.subcontent_lh
                    -%}
                    {%- capture firstValue -%}
                      {%- unless _subcontent_cl == 'rgba(0,0,0,0)' -%}color: {{_subcontent_cl}};{%- endunless -%}
                      {%- unless _subcontent_fw == 0 -%}font-weight: {{_subcontent_fw}};{%- endunless -%}
                      {%- render 'css-resp', type: 'value', showFirst: true, css_value: subcontent_fs, css_property: 'font-size' -%}
                      {%- render 'css-resp', type: 'value', showFirst: true, css_value: subcontent_margin, css_property: 'margin' -%}
                      {%- render 'css-resp', type: 'value', showFirst: true, css_value: subcontent_lh, css_property: 'line-height' -%}
                    {%- endcapture -%}

                    {%- render 'css-resp', classID: sectionID, nextClassID: ' .block_content-sub', css_values: firstValue -%}
                    {%- render 'css-resp', classID: sectionID, nextClassID: ' .block_content-sub', showLast: true, css_value: subcontent_fs, css_property: 'font-size' -%}
                    {%- render 'css-resp', classID: sectionID, nextClassID: ' .block_content-sub', showLast: true, css_value: subcontent_margin, css_property: 'margin' -%}
                    {%- render 'css-resp', classID: sectionID, nextClassID: ' .block_content-sub', showLast: true, css_value: subcontent_lh, css_property: 'line-height' -%}
                  {%- endunless -%}

                  {%- if spc_product != blank and _productSelect.available -%}{%- render 'snippet-gallery', sectionID: sectionID, block: spcBlock, type: 'product' -%}{%- endif -%}

                  {%- unless _spc_btn_label == blank -%}{%- render 'snippet-gallery', sectionID: sectionID, block: spcBlock, type: 'button' -%}{%- endunless -%}

                {%- endcapture -%}
                {%- assign section_css = section_css | append: block_css -%}

              {%- else -%}
                {%- render 'svgset' -%}
              {%- endunless -%}
            </section>

          {%- else -%}
            {%- render 'svgset' -%}
          {%- endif -%}
        </div>
      {%- endcapture -%}

      {%- comment -%}
        **
        * Content
        *
      {%- endcomment-%}
  		<div class="section_content-body">
        <div class="section-content-wrapper d-grid">
          {%- if _spc_position != 'right' -%}{{ specialProduct }}{%- endif -%}

          <div class="featured_product-group">
            {%- include 'snippet-theme', type: 'sectionHeading' -%}
      			<div class="row">
    	  			{%- if _collection != blank and collection.products.size > 0 -%}
    	  				{%- for product in collection.products limit: _total -%}
    	  					<section class="product-section {{gridClass}}">
    	  						{%- render 'product-item', product: product, catalogMode: section.settings.enable_catalog, showInventory: section.settings.show_inventory -%}
    	  					</section>
    	  				{%- endfor -%}
    	  			{%- else -%}
                {%- assign _total = _total | minus: 1 -%}
    	  				{%- for i in (0.._total) -%}
    	  					<section class="product-section {{gridClass}}">
    	  						{%- include 'svgset', type: 'empty-product' -%}
    	  					</section>
    	  				{%- endfor -%}
    	  			{%- endif -%}
      			</div>
          </div>

          {%- if _spc_position == 'right' -%}{{ specialProduct }}{%- endif -%}
        </div>
  		</div>

  	</div>
  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>

{%- capture sectionCss -%}
  {%- liquid
    render 'snippet-theme', type: 'sectionCSS', ID: sectionID
    render 'css-resp', classID: sectionID, nextClassID: ' .section-content-wrapper', css_value: section.settings.grid_layout, css_property: 'grid-template-columns'
    render 'css-resp', classID: sectionID, nextClassID: ' .section-content-wrapper', css_value: section.settings.grid_gap, css_property: 'grid-gap'
    echo section_css
  -%}
{%- endcapture -%}{%- assign sectionCss = sectionCss | strip_newlines -%}
{%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}
{%- endcapture -%}
{%- render 'compress', content: content -%}

{% schema %}
{
  "name": {
    "en": "Products Grid V3"
  },
  "tag": "section",
  "max_blocks": 1,
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Products grid V3' section"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Section Label [:id]"
      },
      "default": "Products Grid V3"
    },
    {
      "type": "header",
      "content": {
        "en": "LAYOUT"
      }
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section Padding",
      "placeholder": {
        "en": "E.g: 5px 20px 5px 20px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Layout content"
      }
    },
    {
      "type": "text",
      "id": "grid_layout",
      "label": {
        "en": "Column Grid layout"
      },
      "default": "33.5% 66.5%, 1fr",
      "placeholder": {
        "en": "E.g: 70% 30% or 100%"
      }
    },
    {
      "type": "text",
      "id": "grid_gap",
      "label": {
        "en": "Column Grid spacing"
      },
      "placeholder": {
        "en": "E.g: 15px"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Collection settings"
      }
    },
    {
      "type": "collection",
      "id": "collection",
      "label": {
        "en": "Collection"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_catalog",
      "label": {
        "en": "Enable Catalog mode"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_inventory",
      "label": {
        "en": "Show Low Inventory quantity (<30)"
      }
    },
    {
      "type": "text",
      "id": "total",
      "label": {
        "en": "Total items"
      },
      "default": "6",
      "placeholder": {
        "en": "E.g: 10"
      }
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": {
        "en": "Max number of items per row"
      },
      "default": "3,2",
      "placeholder": {
        "en": "E.g: 4,3,2"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Section Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_1",
      "label": {
        "en": "Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_2",
      "label": {
        "en": "Subheading"
      }
    },
    {
      "type": "select",
      "id": "sectionHeading_align",
      "label": {
        "en": "Alignment"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ],
      "default": "auto"
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_1",
      "label": {
        "en": "Heading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_2",
      "label": {
        "en": "Subheading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": {
        "en": "Banner"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "banner",
          "label": {
            "en": "Banner image"
          }
        },
        {
          "type": "text",
          "id": "image_position",
          "label": {
            "en": "Image position"
          },
          "placeholder": {
            "en": "E.g: center center or left center"
          }
        },
        {
          "type": "text",
          "id": "min_height",
          "label": {
            "en": "Manual Height"
          },
          "placeholder": {
            "en": "E.g: 200px"
          },
          "default": "100%, 400px"
        },
        {
          "type": "select",
          "id": "block_position",
          "label": {
            "en": "Position"
          },
          "options": [
            {
              "value": "left",
              "label": {
                "en": "Left"
              }
            },
            {
              "value": "right",
              "label": {
                "en": "Right"
              }
            }
          ],
          "default": "left"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": {
            "en": "Heading"
          }
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": {
            "en": "Button URL"
          },
          "info": {
            "en": "Default is Product URL"
          }
        },
        {
          "type": "range",
          "id": "btn_style",
          "label": {
            "en": "Button style"
          },
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1
        },
        {
          "type": "paragraph",
          "content": {
            "en": "+ Sub content"
          }
        },
        {
          "type": "text",
          "id": "svg_content_1",
          "label": {
            "en": "SVG Icon 1"
          }
        },
        {
          "type": "text",
          "id": "content_1",
          "label": {
            "en": "Text 1"
          }
        },
        {
          "type": "text",
          "id": "svg_content_2",
          "label": {
            "en": "SVG Icon 2"
          }
        },
        {
          "type": "text",
          "id": "content_2",
          "label": {
            "en": "Text 2"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Content wrapper settings"
          }
        },
        {
          "type": "text",
          "id": "position",
          "label": {
            "en": "Text block position"
          },
          "placeholder": {
            "en": "E.g: 50%:50%"
          },
          "info": {
            "en": "Left(%):Top(%)"
          },
          "default": "0:0"
        },
        {
          "type": "text",
          "id": "align",
          "label": {
            "en": "Alignment"
          },
          "placeholder": {
            "en": "E.g: center or left"
          }
        },
        {
          "type": "text",
          "id": "padding",
          "label": {
            "en": "Padding"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          },
          "default": "50px, 30px, 20px"
        },
        {
          "type": "header",
          "content": {
            "en": "Heading settings"
          }
        },
        {
          "type": "text",
          "id": "content_fs",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 24px"
          },
          "default": "40px, 25px, 25px"
        },
        {
          "type": "color",
          "id": "content_cl",
          "label": {
            "en": "Color"
          },
          "default": "#103178"
        },
        {
          "type": "range",
          "id": "content_fw",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 600,
          "info": {
            "en": "0 is auto"
          }
        },
        {
          "type": "text",
          "id": "content_margin",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          },
          "default": "0 0 20px"
        },
        {
          "type": "text",
          "id": "content_lh",
          "label": {
            "en": "Line height"
          },
          "placeholder": {
            "en": "E.g: 26px"
          },
          "default": "1.2"
        },
        {
          "type": "header",
          "content": {
            "en": "Button settings"
          }
        },
        {
          "type": "text",
          "id": "btn_fs",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 18px"
          },
          "default": "18px"
        },
        {
          "type": "range",
          "id": "btn_fw",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 600,
          "info": {
            "en": "0 is auto"
          }
        },
        {
          "type": "text",
          "id": "btn_padding",
          "label": {
            "en": "Padding"
          },
          "placeholder": {
            "en": "E.g: 13px 50px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          },
          "default": "10px 50px"
        },
        {
          "type": "text",
          "id": "btn_margin",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 13px 50px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          },
          "default": "20px 0 0"
        },
        {
          "type": "color",
          "id": "btn_cl",
          "label": {
            "en": "Text color"
          }
        },
        {
          "type": "color",
          "id": "btn_bg_cl",
          "label": {
            "en": "Background color"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Sub content settings"
          }
        },
        {
          "type": "text",
          "id": "subcontent_fs",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 24px"
          },
          "default": "18px"
        },
        {
          "type": "color",
          "id": "subcontent_cl",
          "label": {
            "en": "Color"
          },
          "default": "#103178"
        },
        {
          "type": "range",
          "id": "subcontent_fw",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 600,
          "info": {
            "en": "0 is auto"
          }
        },
        {
          "type": "text",
          "id": "subcontent_margin",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          }
        },
        {
          "type": "text",
          "id": "subcontent_lh",
          "label": {
            "en": "Line height"
          },
          "placeholder": {
            "en": "E.g: 26px"
          },
          "default": "26px"
        }
      ]
    },
    {
      "type": "content_product",
      "name": {
        "en": "Banner with Product"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "banner",
          "label": {
            "en": "Banner image"
          }
        },
        {
          "type": "text",
          "id": "image_position",
          "label": {
            "en": "Image position"
          },
          "placeholder": {
            "en": "E.g: center center or left center"
          }
        },
        {
          "type": "text",
          "id": "min_height",
          "label": {
            "en": "Manual Height"
          },
          "placeholder": {
            "en": "E.g: 200px"
          },
          "default": "100%, 400px"
        },
        {
          "type": "select",
          "id": "block_position",
          "label": {
            "en": "Position"
          },
          "options": [
            {
              "value": "left",
              "label": {
                "en": "Left"
              }
            },
            {
              "value": "right",
              "label": {
                "en": "Right"
              }
            }
          ],
          "default": "left"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": {
            "en": "Heading"
          }
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": {
            "en": "Button URL"
          },
          "info": {
            "en": "Default is Product URL"
          }
        },
        {
          "type": "range",
          "id": "btn_style",
          "label": {
            "en": "Button style"
          },
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1
        },
        {
          "type": "product",
          "id": "product",
          "label": {
            "en": "Product to sell"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Content wrapper settings"
          }
        },
        {
          "type": "text",
          "id": "position",
          "label": {
            "en": "Text block position"
          },
          "placeholder": {
            "en": "E.g: 50%:50%"
          },
          "info": {
            "en": "Left(%):Top(%)"
          },
          "default": "0:0"
        },
        {
          "type": "text",
          "id": "align",
          "label": {
            "en": "Alignment"
          },
          "placeholder": {
            "en": "E.g: center or left"
          }
        },
        {
          "type": "text",
          "id": "padding",
          "label": {
            "en": "Padding"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          },
          "default": "50px, 30px, 20px"
        },
        {
          "type": "header",
          "content": {
            "en": "Heading settings"
          }
        },
        {
          "type": "text",
          "id": "content_fs",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 24px"
          },
          "default": "40px, 25px, 25px"
        },
        {
          "type": "color",
          "id": "content_cl",
          "label": {
            "en": "Color"
          },
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "content_fw",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 600,
          "info": {
            "en": "0 is auto"
          }
        },
        {
          "type": "text",
          "id": "content_margin",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          },
          "default": "0 0 20px"
        },
        {
          "type": "text",
          "id": "content_lh",
          "label": {
            "en": "Line height"
          },
          "placeholder": {
            "en": "E.g: 26px"
          },
          "default": "1.2"
        },
        {
          "type": "header",
          "content": {
            "en": "Button settings"
          }
        },
        {
          "type": "text",
          "id": "btn_fs",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 18px"
          },
          "default": "18px"
        },
        {
          "type": "range",
          "id": "btn_fw",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 600,
          "info": {
            "en": "0 is auto"
          }
        },
        {
          "type": "text",
          "id": "btn_padding",
          "label": {
            "en": "Padding"
          },
          "placeholder": {
            "en": "E.g: 13px 50px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          },
          "default": "10px 50px"
        },
        {
          "type": "text",
          "id": "btn_margin",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 13px 50px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          },
          "default": "20px 0 0"
        },
        {
          "type": "color",
          "id": "btn_cl",
          "label": {
            "en": "Text color"
          }
        },
        {
          "type": "color",
          "id": "btn_bg_cl",
          "label": {
            "en": "Background color"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Product settings"
          }
        },
        {
          "type": "paragraph",
          "content": {
            "en": "+ Price 1 settings"
          }
        },
        {
          "type": "color",
          "id": "price_cl_1",
          "label": {
            "en": "Color"
          },
          "default": "#FF9923"
        },
        {
          "type": "text",
          "id": "price_fs_1",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 24px"
          },
          "default": "50px, 30px, 30px"
        },
        {
          "type": "range",
          "id": "price_fw_1",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 600
        },
        {
          "type": "text",
          "id": "price_margin_1",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          }
        },
        {
          "type": "text",
          "id": "price_lh_1",
          "label": {
            "en": "Line height"
          },
          "placeholder": {
            "en": "E.g: 26px"
          },
          "default": "1.2"
        },
        {
          "type": "paragraph",
          "content": {
            "en": "+ Price 2 settings"
          }
        },
        {
          "type": "color",
          "id": "price_cl_2",
          "label": {
            "en": "Color"
          },
          "default": "#9BABCD"
        },
        {
          "type": "text",
          "id": "price_fs_2",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 24px"
          },
          "default": "25px, 15px, 15px"
        },
        {
          "type": "range",
          "id": "price_fw_2",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "text",
          "id": "price_margin_2",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          }
        },
        {
          "type": "text",
          "id": "price_lh_2",
          "label": {
            "en": "Line height"
          },
          "placeholder": {
            "en": "E.g: 26px"
          },
          "default": "30px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Products Grid V3"
      },
      "category": "Collection"
    }
  ]
}
{% endschema %}