{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign _lazyload        = true
  assign _total           = section.settings.total | times: 1
  assign _items_resp      = section.settings.items_resp | default: '5,3,2'
  assign _show_excerpt    = section.settings.show_excerpt
  assign _enable_slider   = section.settings.enable_slider
  assign _blogs_style     = section.settings.blogs_style
  assign _blog            = section.settings.blog
  assign blog             = blogs[_blog]
  assign section_bg_color = section.settings.section_bg_color
  assign date_position    = section.settings.date_position

-%}

{%- capture section_class -%}
	{{- -}}home-blog
	{{- -}}|section-{{- section.id -}}
	{{- -}}|layout-{{- _layout -}}
	{{- -}}|style-{{- _blogs_style -}}
  {% comment %} {%- render 'bgset' ,class: 'bg-image' ,image: section.settings.section_bg_image -%} {% endcomment %}
{%- endcapture -%}{%- assign section_class = section_class | strip | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}

{%- capture gridClass -%}{%- render 'set-item-per-row', value: _items_resp -%}{%- endcapture -%}

{%- capture content -%}

  <div class="{{section_class}}" data-section-type="featured-blog" data-section-id="{{section.id}}">
    {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
      <div class="section_content-wrapper" style="background-color: {{section_bg_color}}">

        {%- unless section.settings.sectionHeading_text_1 == blank and section.settings.sectionHeading_text_2 == blank -%}
          <div class="section_content-head">
            {%- include 'snippet-theme', type: 'sectionHeading' -%}
          </div>
        {%- endunless -%}

        <div class="section_content-body">


          <div class="row {% if _enable_slider %}js-tns slide_ui-element{% endif %}" data-config="tns-config-{{section.id}}">
            {%- if _blog != blank and blog.articles.size > 0 -%}

              {%- for article in blog.articles limit: _total -%}
                <section class="blog-section {{gridClass}}">
                  <article class="featured_blog__item">
                    <header>
                      <figure class="featured_blog__item-image">
                        <a href="{{ article.url }}">
                          {%- render 'image-style', image: article.image -%}
                        </a>
                      </figure>
                    </header>


                    <footer><div class="featured_blog__item-info{% if inAboutPage %} text-2{% endif %}">
                        {%- if date_position == 'above' -%}
                          <span class="featured_blog__item-publish">{{ article.published_at | date: "%B %d, %Y" }}</span>
                        {%- endif -%}
                        <span class="featured_blog__item-author">{{ article.author }}</span>
                      </div>
                      <h4 class="featured_blog__item-title">
                        <a href="{{ article.url }}"{% if inAboutPage %} class="text-1"{% endif %}>{{ article.title }}</a>
                        {%- if date_position == 'below' -%}
                          <span class="featured_blog__item-publish">{{ article.published_at | date: "%B %d, %Y" }}</span>
                        {%- endif -%}
                      </h4>

                      {%- if _show_excerpt -%}
                        <div class="featured_blog__item-excerpt{% if inAboutPage %} text-3{% endif %}">{{ article.excerpt_or_content | truncatewords: 20}}</div>
                      {%- endif -%}
                      <div class="featured_blog__item-button">
                        <a href="{{article.url}}" class="btn btn-2">{{ 'general.article.read_more' | t}}</a>
                      </div>
                    </footer>
                  </article>
                </section>
              {%- endfor -%}
            {%- else -%}
              {%- assign _total = _total | minus: 1 -%}
              {%- for i in (0.._total) -%}
                <section class="blog-section {{gridClass}}">
                  {%- include 'svgset', type: 'empty-article', svg_group: 'svg_groups' -%}
                </section>
              {%- endfor -%}
            {%- endif -%}
          </div>

          {%- if _enable_slider -%}
            {% render 'set-item-per-row' value: true, section: section, count: blog.articles.size, type: 'slider' %}
          {%- endif -%}

        </div>
      </div>
    {%- if _layout == 'boxed' -%}</div>{%- endif -%}
  </div>


  {%- capture sectionCss -%}
    {%- liquid
      echo section_css
      comment
      render 'snippet-theme', type: 'sectionCSS', ID: sectionID
      endcomment
    -%}
  {%- endcapture -%}{%- assign sectionCss = sectionCss | strip_newlines -%}

  <style>{{sectionCss}}</style>

{%- endcapture -%}

{%- render 'compress' content: content -%}
<arena class="d-none">{{section.id}}:featured-blog</arena>


{% schema %}
{
  "name": {
    "en": "Blog posts"
  },
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Blog' section"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Section Label [:id]"
      },
      "default": "Blog posts"
    },
    {
      "type": "header",
      "content": {
        "en": "LAYOUT"
      }
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "blogs_style",
      "label": "Style",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background color"
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": {
        "en": "Section Padding"
      },
      "placeholder": {
        "en": "E.g: 5px 20px 5px 20px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Section Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_1",
      "label": {
        "en": "Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_2",
      "label": {
        "en": "Subheading"
      }
    },
    {
      "type": "select",
      "id": "sectionHeading_align",
      "label": {
        "en": "Alignment"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ],
      "default": "auto"
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_1",
      "label": {
        "en": "Heading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_2",
      "label": {
        "en": "Subheading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Blog settings"
      }
    },
    {
      "type": "blog",
      "id": "blog",
      "label": {
        "en": "Blog"
      }
    },
    {
      "type": "select",
      "id": "date_position",
      "label": "Date position",
      "options": [
        {
          "value": "above",
          "label": "Above title"
        },
        {
          "value": "below",
          "label": "Below title"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": {
        "en": "Show Excerpt"
      }
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": {
        "en": "Max number of items per row"
      },
      "default": "3,1",
      "placeholder": {
        "en": "E.g: 3,1"
      }
    },
    {
      "type": "text",
      "id": "grid_spc",
      "label": {
        "en": "Item spacing"
      },
      "default": "10px",
      "placeholder": {
        "en": "E.g: 10px"
      }
    },
    {
      "type": "text",
      "id": "total",
      "label": {
        "en": "Total items"
      },
      "default": "6",
      "placeholder": {
        "en": "E.g: 6"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Slider settings"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": {
        "en": "Enable Slider"
      }
    },
    {
      "type": "checkbox",
      "id": "controls",
      "label": {
        "en": "Show Controls"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": {
        "en": "Show Dots"
      }
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": {
        "en": "Blog posts"
      },
      "category": "Blog",
      "blocks": []
    }
  ]
}
{% endschema %}