{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign sectionType      = 'instagram'
  assign _lazyload        = true
  assign _insta_app_embed = section.settings.insta_app_embed
  assign _items_resp 	    = section.settings.items_resp | default: '5,3,2' | replace: ',', ';' | replace: ';', ', 1fr;' | append: ', 1fr'
  assign _enable_slider = section.settings.enable_slider
-%}

{%- capture section_class -%}
	{{- -}}home-instafeed
	{{- -}}|section-{{- section.id -}}
	{{- -}}|layout-{{- _layout -}}
  {{- -}}|mobile_layout-{{- section.settings.mobile_layout -}}
  {%- render 'bgset' ,class: 'bg-image' ,image: section.settings.section_bg_image -%}
{%- endcapture -%}{%- assign section_class = section_class | strip | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}

{%- capture content -%}
<div class="{{section_class}}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}">
  {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
  	<div class="section_content-wrapper">

  		<div class="section_content-head">
  			{%- include 'snippet-theme', type: 'sectionHeading' -%}
  		</div>

  		<div class="section_content-body">
        {%- unless _insta_app_embed == blank -%}
          {{ _insta_app_embed }}
        {%- else -%}
    			<div class="d-grid{% if _enable_slider %} slide_ui-element{% endif %}">
  	  			{%- if section.blocks.size > 0 -%}
  	  				{%- for block in section.blocks -%}
                {%- liquid
                  assign _image         = block.settings.image
                -%}

                <div class="card_section-item"{{block.shopify_attributes}}>
                    <div class="card_section-item-inner">
                      <a href="#" onclick="return false">
                        {%- unless _image == blank -%}
                          {%- render 'image-style' ,image: _image -%}
                        {%- else -%}
                          {%- include 'svgset' -%}
                        {%- endunless -%}
                      </a>
                    </div>
                </div>

              {%- endfor -%}
  	  			{%- else -%}
  	  				{%- for i in (1..6) -%}
                <div class="card_section-item">
                  <div class="card_section-item-inner">
                   {%- include 'svgset' -%}
                 </div>
               </div>
  	  				{%- endfor -%}
  	  			{%- endif -%}
    			</div>

          {%- if _enable_slider -%}
            {%- render 'set-item-per-row' ,type: 'slider'
                                          ,value: section.settings.items_resp
                                          ,itemClass: 'product-section'
                                          ,loop: section.settings.slide_loop
                                          ,gutter: section.settings.grid_spc -%}
          {%- endif -%}
        {%- endunless -%}
  		</div>
  	</div>
  {%- if _layout == 'boxed' -%}</div>{%- endif -%}
</div>

{%- capture sectionCss -%}
  {%- liquid
    echo section_css
    render 'snippet-theme', type: 'sectionCSS', ID: sectionID
    render 'css-resp', classID: sectionID, nextClassID: ' .d-grid', css_value: _items_resp, css_property: 'grid-template-columns', css_value_before: 'repeat', css_split: ';'
    render 'css-resp', classID: sectionID, nextClassID: ' .d-grid', css_value: section.settings.grid_spc, css_property: 'grid-gap'
-%}
{%- endcapture -%}{%- assign sectionCss = sectionCss | strip_newlines -%}
{%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}
{%- endcapture -%}
{%- render 'compress', content: content -%}

{% schema %}
{
  "name": {
    "en": "Instafeed"
  },
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Instagram' section"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Section Label [:id]"
      },
      "default": "Instafeed"
    },
    {
      "type": "header",
      "content": {
        "en": "LAYOUT"
      }
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section Padding",
      "placeholder": {
        "en": "E.g: 5px 20px 5px 20px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "label": {
        "en": "Mobile layout"
      },
      "options": [
        {
          "value": "boxed",
          "label": {
            "en": "Boxed"
          }
        },
        {
          "value": "full",
          "label": {
            "en": "Wide"
          }
        },
        {
          "value": "full-right",
          "label": {
            "en": "Only full right"
          }
        }
      ],
      "default": "boxed",
      "info": {
        "en": "Only full right use for slider"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Section Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_1",
      "label": {
        "en": "Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_2",
      "label": {
        "en": "Subheading"
      }
    },
    {
      "type": "select",
      "id": "sectionHeading_align",
      "label": {
        "en": "Alignment"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ],
      "default": "auto"
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_1",
      "label": {
        "en": "Heading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_2",
      "label": {
        "en": "Subheading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Instafeed settings"
      }
    },
    {
      "type": "text",
      "id": "insta_app_embed",
      "label": {
        "en": "Advanced InstaFeed Embed"
      },
      "placeholder": {
        "en": "E.g: <div id='XYZ'></div>"
      },
      "info": {
        "en": "Install [here](https://social.arenacommerce.com/install)"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "All settings below will unavailable when using Advanced InstaFeed Embed"
      }
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": {
        "en": "Max number of items per row"
      },
      "default": "6,4,3",
      "placeholder": {
        "en": "E.g: 6,4,3"
      }
    },
    {
      "type": "text",
      "id": "grid_spc",
      "label": {
        "en": "Item spacing"
      },
      "default": "8px",
      "placeholder": {
        "en": "E.g: 10px"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Slider settings"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": {
        "en": "Enable Slider"
      }
    },
    {
      "type": "checkbox",
      "id": "slide_loop",
      "label": {
        "en": "Enable Loop"
      }
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": {
        "en": "Image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Instafeed"
      },
      "category": "Banner",
      "blocks": []
    }
  ]
}
{% endschema %}