{% liquid
  assign bg_color     = section.settings.bg_color
  assign boxed_layout = section.settings.boxed_layout
%}

{%- capture sectionID -%}.section-{{section.id}}{%- endcapture-%}

{%- capture content -%}

  <div class="custom-content section-{{section.id}}" data-section-type="custom-content" data-section-type="{{section.id}}">
    {% if boxed_layout %} <div class="container"> {%- endif -%}
      <div class="section-wrapper" style="background-color: {{bg_color}};">
        {%- unless section.settings.sectionHeading_text_1 == blank and section.settings.sectionHeading_text_2 == blank -%}
          <div class="section-content__head">
            {%- include 'snippet-theme', type: 'sectionHeading' -%}
          </div>
        {%- endunless -%}

        <div class="section-content__body">
          <div class="d-grid">
            {%- for block in section.blocks -%}
              <div class="custom-content__item">
                {%- case block.type -%}
                  {%- when 'product' -%}
                    {%- assign product_hanlde = block.settings.product -%}
                    {%- assign selected_product = all_products[product_hanlde] -%}
                    <div class="custom-content__product block-{{block.id}}" {{block.shopify_attributes}}>
                      {%- render 'product-item' product: selected_product -%}
                    </div>
                  {%- when 'banner' -%}
                    <div class="custom-content__banner block-{{block.id}}" {{block.shopify_attributes}}>
                      <div class="banner">
                        {%- for i in (1..2) -%}
                          {%- assign image = 'image_' | append: i -%}

                          {%- if block.settings[image] != blank -%}
                            {% liquid
                              assign preClassID    = sectionID | append: ' .block-' | append: block.id
                              assign classID       = ' .banner__item .textbox[data-index="number"]' | replace: 'number', i
                              assign text_position = 'text_position_' | append: i
                              assign text_align    = 'text_align_' | append: i

                              assign heading          = 'heading_' | append: i
                              assign heading_color    = 'heading_color_' | append: i
                              assign heading_fs       = 'heading_fs_' | append: i
                              assign heading_fw       = 'heading_fw_' | append: i

                              assign subheading       = 'subheading_' | append: i
                              assign subheading_color = 'subheading_color_' | append: i
                              assign subheading_fs    = 'subheading_fs_' | append: i
                              assign subheading_fw    = 'subheading_fw_' | append: i

                              assign caption          = 'caption_' | append: i
                              assign caption_color    = 'caption_color_' | append: i
                              assign caption_fs       = 'caption_fs_' | append: i
                              assign caption_fw       = 'caption_fw_' | append: i

                              assign btn_text         = 'btn_text_' | append: i
                              assign btn_url          = 'btn_url_' | append: i
                              if block.settings[btn_text]
                                assign btn_text_color  = 'btn_text_color_'  | append: i
                                assign btn_text_hover = 'btn_text_hover_'  | append: i
                                assign btn_bg_color    = 'btn_bg_color_'  | append: i
                                assign btn_bg_hover    = 'btn_bg_hover_'  | append: i
                              endif
                            %}
                            <div class="banner__item">
                              <div class="image">
                                {%- render 'image-style' image: block.settings[image] -%}
                              </div>
                              <div class="textbox overlay-ui" data-index="{{i}}">
                                <div class="heading" style="color: {{block.settings[heading_color]}};font-weight: {{block.settings[heading_fw]}}">
                                  <span>{{block.settings[heading]}}</span>
                                </div>
                                <div class="subheading" style="color: {{block.settings[subheading_color]}};font-weight: {{block.settings[subheading_fw]}}">
                                  <span>{{block.settings[subheading]}}</span>
                                </div>
                                <div class="caption" style="color: {{block.settings[caption_color]}};font-weight: {{block.settings[caption_fw]}}">
                                  <span>{{block.settings[caption]}}</span>
                                </div>
                                {%- if block.settings[btn_text] != blank -%}
                                  <a href="{{block.settings[btn_url]}}" class="btn btn-2 btn-banner">{{block.settings[btn_text]}}</a>
                                {%- endif -%}
                              </div>
                            </div>

                            {%- capture button_style -%}
                              color: {{block.settings[btn_text_color]}};
                              background-color: {{block.settings[btn_bg_color]}};
                            {%- endcapture -%}
                            {%- capture button_hover_style -%}
                              color: {{block.settings[btn_text_hover]}};
                              background-color: {{block.settings[btn_bg_hover]}};
                            {%- endcapture -%}

                            {%- capture block_css -%}
                              {%- render 'css-resp', preClassID: preClassID, classID: classID , css_value: block.settings[text_position], type: 'position' -%}
                              {%- render 'css-resp', preClassID: preClassID, classID: classID , css_value: block.settings[text_align], css_property: 'text-align' -%}
                              {%- render 'css-resp', preClassID: preClassID, classID: classID , nextClassID: " .heading", css_value: block.settings[heading_fs], css_property: 'font-size' -%}
                              {%- render 'css-resp', preClassID: preClassID, classID: classID , nextClassID: " .subheading", css_value: block.settings[subheading_fs], css_property: 'font-size' -%}
                              {%- render 'css-resp', preClassID: preClassID, classID: classID , nextClassID: " .caption", css_value: block.settings[caption_fs], css_property: 'font-size' -%}
                              {%- render 'css-resp', preClassID: preClassID, classID: classID , nextClassID: " .btn-banner", css_values: button_style -%}
                              {%- render 'css-resp', preClassID: preClassID, classID: classID , nextClassID: " .btn-banner:hover", css_values: button_hover_style -%}
                            {%- endcapture -%}
                            {%- assign section_css = section_css | append: block_css-%}
                          {%- endif -%}
                        {%- endfor -%}
                      </div>
                    </div>
                  {% comment %} end {% endcomment %}
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        </div>

      </div>
    {% if boxed_layout %} </div> {%- endif -%}
  </div>


  {%- capture sectionCSS -%}
    {{section_css}}
    {%- render 'css-resp', classID: sectionID, nextClassID: ' .d-grid', css_value: section.settings.grid_layout, css_property: 'grid-template-columns' -%}
    {%- render 'css-resp', classID: sectionID, nextClassID: ' .d-grid', css_value: section.settings.grid_spc, css_property: 'grid-gap' -%}
    {%- render 'css-resp', classID: sectionID, nextClassID: ' .d-grid .custom-content__item .banner__item', css_value: section.settings.grid_spc, css_property: 'margin-bottom' -%}
  {%- endcapture -%}

  <style>
  {{sectionCSS}}
  </style>

{%- endcapture -%}
{%- render 'compress' content: content -%}

{% schema %}
{
  "name": {
    "en": "Custom Content"
  },
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Custom Content' section"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Section Label [:id]"
      },
      "default": "Custom content"
    },
    {
      "type": "header",
      "content": {
        "en": "LAYOUT"
      }
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": {
        "en": "Section Padding"
      },
      "placeholder": {
        "en": "E.g: 5px 20px 5px 20px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Section Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_1",
      "label": {
        "en": "Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_2",
      "label": {
        "en": "Subheading"
      }
    },
    {
      "type": "select",
      "id": "sectionHeading_align",
      "label": {
        "en": "Alignment"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ],
      "default": "auto"
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_1",
      "label": {
        "en": "Heading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_2",
      "label": {
        "en": "Subheading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Layout content"
      }
    },
    {
      "type": "text",
      "id": "grid_layout",
      "label": {
        "en": "Max number of items per row"
      },
      "default": "50% 50%, 100%",
      "placeholder": {
        "en": "E.g: 4,3,2"
      }
    },
    {
      "type": "text",
      "id": "grid_spc",
      "label": {
        "en": "Item spacing"
      },
      "placeholder": {
        "en": "E.g: 10px"
      }
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    },
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "header",
          "content": {
            "en": "Banner 1"
          }
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "text",
          "id": "text_position_1",
          "label": "Text position",
          "info": "E.g: 50%:50%"
        },
        {
          "type": "select",
          "id": "text_align_1",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "heading_1",
          "label": {
            "en": "Heading"
          }
        },
        {
          "type": "color",
          "id": "heading_color_1",
          "label": "Heading color"
        },
        {
          "type": "text",
          "id": "heading_fs_1",
          "label": {
            "en": "Heading font size"
          },
          "info": "E.g: 20px"
        },
        {
          "type": "range",
          "id": "heading_fw_1",
          "label": {
            "en": "Font weight"
          },
          "step": 100,
          "min": 100,
          "max": 900,
          "default": 500
        },
        {
          "type": "text",
          "id": "subheading_1",
          "label": {
            "en": "Subheading"
          }
        },
        {
          "type": "color",
          "id": "subheading_color_1",
          "label": "Subheading color"
        },
        {
          "type": "text",
          "id": "subheading_fs_1",
          "label": {
            "en": "Subheading font size"
          },
          "info": "E.g: 24px"
        },
        {
          "type": "range",
          "id": "subheading_fw_1",
          "label": {
            "en": "Subheading font weight"
          },
          "step": 100,
          "min": 100,
          "max": 900,
          "default": 500
        },
        {
          "type": "text",
          "id": "caption_1",
          "label": {
            "en": "Caption text"
          }
        },
        {
          "type": "color",
          "id": "caption_color_1",
          "label": "Caption color"
        },
        {
          "type": "text",
          "id": "caption_fs_1",
          "label": {
            "en": "Caption font size"
          },
          "info": "E.g: 20px"
        },
        {
          "type": "range",
          "id": "caption_fw_1",
          "label": {
            "en": "Caption font weight"
          },
          "step": 100,
          "min": 100,
          "max": 900,
          "default": 500
        },
        {
          "type": "text",
          "id": "btn_text_1",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "url",
          "id": "btn_url_1",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "btn_text_color_1",
          "label": "Button text color"
        },
        {
          "type": "color",
          "id": "btn_text_hover_1",
          "label": "Hover: Button text color"
        },
        {
          "type": "color",
          "id": "btn_bg_color_1",
          "label": "Button background color"
        },
        {
          "type": "color",
          "id": "btn_bg_hover_1",
          "label": "Hover: Button background color"
        },
        {
          "type": "header",
          "content": {
            "en": "Banner 2"
          }
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "text",
          "id": "text_position_2",
          "label": "Text position",
          "info": "E.g: 50%:50%"
        },
        {
          "type": "select",
          "id": "text_align_2",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "heading_2",
          "label": {
            "en": "Heading"
          }
        },
        {
          "type": "color",
          "id": "heading_color_2",
          "label": "Heading color"
        },
        {
          "type": "text",
          "id": "heading_fs_2",
          "label": {
            "en": "Heading font size"
          },
          "info": "E.g: 20px"
        },
        {
          "type": "range",
          "id": "heading_fw_2",
          "label": {
            "en": "Font weight"
          },
          "step": 100,
          "min": 100,
          "max": 900,
          "default": 500
        },
        {
          "type": "text",
          "id": "subheading_2",
          "label": {
            "en": "Subheading"
          }
        },
        {
          "type": "color",
          "id": "subheading_color_2",
          "label": "Subheading color"
        },
        {
          "type": "text",
          "id": "subheading_fs_2",
          "label": {
            "en": "Subheading font size"
          },
          "info": "E.g: 24px"
        },
        {
          "type": "range",
          "id": "subheading_fw_2",
          "label": {
            "en": "Subheading font weight"
          },
          "step": 100,
          "min": 100,
          "max": 900,
          "default": 500
        },
        {
          "type": "text",
          "id": "caption_2",
          "label": {
            "en": "Caption text"
          }
        },
        {
          "type": "color",
          "id": "caption_color_2",
          "label": "Caption color"
        },
        {
          "type": "text",
          "id": "caption_fs_2",
          "label": {
            "en": "Caption font size"
          },
          "info": "E.g: 20px"
        },
        {
          "type": "range",
          "id": "caption_fw_2",
          "label": {
            "en": "Caption font weight"
          },
          "step": 100,
          "min": 100,
          "max": 900,
          "default": 500
        },
        {
          "type": "text",
          "id": "btn_text_2",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "url",
          "id": "btn_url_2",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "btn_text_color_2",
          "label": "Button text color"
        },
        {
          "type": "color",
          "id": "btn_text_hover_2",
          "label": "Hover: Button text color"
        },
        {
          "type": "color",
          "id": "btn_bg_color_2",
          "label": "Button background color"
        },
        {
          "type": "color",
          "id": "btn_bg_hover_2",
          "label": "Hover: Button background color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Custom content"
      },
      "category": "Advanced layout",
      "blocks": []
    }
  ]
}
{% endschema %}