{%- if section.settings.boxed_layout -%}{%- assign _layout = 'boxed' -%}{%- else -%}{%- assign _layout = 'full' -%}{%- endif -%}
{%- liquid
  assign sectionType    = 'featured-gallery'
  assign _lazyload      = true
  assign _items_resp    = section.settings.items_resp | default: '5,3,2' | replace: ',', ';' | replace: ';', ', 1fr;' | append: ', 1fr'
  assign _hover_style   = section.settings.hover_style
  assign _enable_slider = section.settings.enable_slider
  assign _border_items  = section.settings.border_item
-%}

{%- capture section_class -%}
	{{- -}}home-gallery
	{{- -}}|section-{{- section.id -}}
	{{- -}}|layout-{{- _layout -}}
  {{- -}}|hover_style-{{- _hover_style -}}
  {%- if _border_items -%}|border-items{%- endif -%}
  {%- render 'bgset' ,class: 'bg-image' ,image: section.settings.section_bg_image -%}
{%- endcapture -%}{%- assign section_class = section_class | strip | split: '|' | join: ' ' -%}
{%- assign sectionID = '.section-' | append: section.id -%}
{%- capture content -%}

  <div class="{{section_class}}" data-section-type="{{sectionType}}" data-section-id="{{section.id}}" test="{{_enable_slider}}">
    {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
      <div class="section_content-wrapper">

        {%- unless section.settings.sectionHeading_text_1 == blank and section.settings.sectionHeading_text_2 == blank -%}
          <div class="section_content-head">
            {%- include 'snippet-theme', type: 'sectionHeading' -%}
          </div>
        {%- endunless -%}

        <div class="section_content-body">
          <div class="d-grid{% if _enable_slider %} js-tns" data-config="tns-config-{{section.id}}"{%else%}" {% endif %} >
            {%- if section.blocks.size > 0 -%}
              {%- for block in section.blocks -%}
                {%- if block.type == 'content' -%}
                  {%- liquid
                    assign _blockCount      = _blockCount | plus: 1
                    assign _image           = block.settings.image
                    assign _content_1       = block.settings.content_1
                    assign _content_2       = block.settings.content_2
                    assign _content_3       = block.settings.content_3
                    assign _content_4       = block.settings.content_4
                    assign _button_label    = block.settings.button_label
                    assign _button_url      = block.settings.button_url | default: 'javascript:void(0);'
                    assign _button_style    = block.settings.btn_style
                    assign block_style      = block.settings.block_style
                  -%}
                  {%- capture blockID -%}.block-{{block.id}}{%- endcapture -%}

                  {%- case block_style -%}
                    {%- when '1' -%}
                      <div class="card_section-item block-{{block.id}} style-{{block_style}}"{{block.shopify_attributes}}>
                        <div class="card_section-item-inner">
                          <div class="card_section-figure">
                            {%- comment -%}
                              **
                              * Image
                              *
                            {%- endcomment-%}
                            {%- unless _image == blank -%}
                                {%- render 'image-style', image: _image, originQuality -%}
                              {%- unless _enable_slider -%}
                              {%- else -%}
                                {% comment %}<img class="lazyload" data-src="{{ _image | img_url: 'master' }}" alt="{{ _image.alt }}">{% endcomment %}
                              {%- endunless -%}
                            {%- else -%}
                              {%- include 'svgset', type: 'lifestyle' -%}
                            {%- endunless -%}
                          </div>
                          {%- capture checkContent -%}
                            {{- _content_1 -}}
                            {{- _content_2 -}}
                            {{- _content_3 -}}
                            {{- _content_4 -}}
                            {{- _button_label -}}
                          {%- endcapture -%}
                          {%- if checkContent != blank -%}
                            <div class="card_section-content overlay-ui">
                              <div class="card_section-content-inner">
                                {%- comment -%}
                                  **
                                  * Text content
                                  *
                                {%- endcomment-%}
                                {%- unless _content_1 == blank -%}
                                  <div class="card_section-text card_section-text-1">{{ _content_1 }}</div>
                                {%- endunless -%}
                                {%- unless _content_2 == blank -%}
                                  <div class="card_section-text card_section-text-2">
                                    {{- _content_2 -}}
                                  </div>
                                {%- endunless -%}
                                {%- unless _content_3 == blank -%}
                                  <div class="card_section-text card_section-text-3">
                                    {{- _content_3 -}}
                                  </div>
                                {%- endunless -%}
                                {%- unless _content_4 == blank -%}
                                  <div class="card_section-text card_section-text-4">
                                    {{- _content_4 -}}
                                  </div>
                                {%- endunless -%}

                                {%- comment -%}
                                  **
                                  * Button
                                  *
                                {%- endcomment-%}
                                {%- unless _button_label == blank -%}
                                  <div class="card_section-button">
                                    {%- capture _button_style -%}btn-{{_button_style}}{%- endcapture -%}
                                    {%- render 'button', type: 'custom', label: _button_label, url: _button_url, class: _button_style -%}
                                  </div>
                                {%- endunless -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% comment %} end {% endcomment %}

                    {%- when '2' -%}
                      <div class="card_section-item block-{{block.id}} style-{{block_style}}"{{block.shopify_attributes}}>
                        <div class="card_section-item-inner">
                          <div class="card_section-figure">
                            {%- comment -%}
                              **
                              * Image
                              *
                            {%- endcomment-%}
                            {%- unless _image == blank -%}
                                {%- render 'image-style', image: _image, originQuality -%}
                              {%- unless _enable_slider -%}
                              {%- else -%}
                                {% comment %}<img class="lazyload" data-src="{{ _image | img_url: 'master' }}" alt="{{ _image.alt }}">{% endcomment %}
                              {%- endunless -%}
                            {%- else -%}
                              {%- include 'svgset', type: 'lifestyle' -%}
                            {%- endunless -%}
                          </div>
                          {%- capture checkContent -%}
                            {{- _content_1 -}}
                            {{- _content_2 -}}
                            {{- _content_3 -}}
                            {{- _content_4 -}}
                            {{- _button_label -}}
                          {%- endcapture -%}

                          {%- if checkContent != blank -%}
                            <div class="card_section-content overlay-ui w-100 h-100">
                              <div class="card_section-content-inner h-100 d-flex justify-content-between align-items-center">
                                <div class="left-content">
                                  {%- unless _content_1 == blank -%}
                                    <div class="card_section-text card_section-text-1">{{ _content_1 }}</div>
                                  {%- endunless -%}
                                  {%- unless _content_2 == blank -%}
                                    <div class="card_section-text card_section-text-2">
                                      {{- _content_2 -}}
                                    </div>
                                  {%- endunless -%}
                                  {%- unless _content_3 == blank -%}
                                    <div class="card_section-text card_section-text-3">
                                      {{- _content_3 -}}
                                    </div>
                                  {%- endunless -%}
                                </div>
                                <div class="right-content">
                                  {%- unless _content_4 == blank -%}
                                    <div class="card_section-text card_section-text-4">
                                      {{- _content_4 -}}
                                    </div>
                                  {%- endunless -%}
                                  {%- unless _button_label == blank -%}
                                    <div class="card_section-button">
                                      {%- capture _button_style -%}btn-{{_button_style}}{%- endcapture -%}
                                      {%- render 'button', type: 'custom', label: _button_label, url: _button_url, class: _button_style -%}
                                    </div>
                                  {%- endunless -%}
                                </div>
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% comment %} end {% endcomment %}

                    {%- when '3' -%}
                      <div class="card_section-item block-{{block.id}} style-{{block_style}}"{{block.shopify_attributes}}>
                        <div class="card_section-item-inner">
                          <div class="card_section-figure">
                            {%- comment -%}
                              **
                              * Image
                              *
                            {%- endcomment-%}
                            {%- unless _image == blank -%}
                                {%- render 'image-style', image: _image, originQuality -%}
                              {%- unless _enable_slider -%}
                              {%- else -%}
                                {% comment %}<img class="lazyload" data-src="{{ _image | img_url: 'master' }}" alt="{{ _image.alt }}">{% endcomment %}
                              {%- endunless -%}
                            {%- else -%}
                              {%- include 'svgset', type: 'lifestyle' -%}
                            {%- endunless -%}
                          </div>
                          {%- capture checkContent -%}
                            {{- _content_1 -}}
                            {{- _content_2 -}}
                            {{- _content_3 -}}
                            {{- _content_4 -}}
                            {{- _button_label -}}
                          {%- endcapture -%}

                          {%- if checkContent != blank -%}
                            <div class="card_section-content overlay-ui w-100 h-100">
                              <div class="card_section-content-inner h-100 d-flex justify-content-between align-items-center">
                                <div class="left-content">
                                  {%- unless _content_1 == blank -%}
                                    <div class="card_section-text card_section-text-1">{{ _content_1 }}</div>
                                  {%- endunless -%}
                                  {%- unless _content_2 == blank -%}
                                    <div class="card_section-text card_section-text-2">{{- _content_2 -}}</div>
                                  {%- endunless -%}
                                  {%- unless _content_3 == blank -%}
                                    <div class="card_section-text card_section-text-3">{{- _content_3 -}}</div>
                                  {%- endunless -%}
                                </div>
                                <div class="right-content">
                                  {%- unless _content_4 == blank -%}
                                    <div class="card_section-text card_section-text-4">{{- _content_4 -}}</div>
                                  {%- endunless -%}
                                  {%- unless _button_label == blank -%}
                                    <div class="card_section-button">
                                      {%- capture _button_style -%}btn-{{_button_style}}{%- endcapture -%}
                                      {%- render 'button', type: 'custom', label: _button_label, url: _button_url, class: _button_style -%}
                                    </div>
                                  {%- endunless -%}
                                </div>
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% comment %} end {% endcomment %}
                  {%- endcase -%}

                  {%- for block in section.blocks offset: forloop.index -%}
                    {%- if block.type == 'content' -%}{%- break -%}{%- endif -%}
                    {%- assign blockType = block.type | remove: 'style_' | strip -%}
                    {%- capture block_css -%}
                      {%- include 'snippet-gallery', type: blockType, blockID: blockID, block_style: block_style -%}
                    {%- endcapture -%}{%- assign section_css = section_css | append: block_css -%}
                  {%- endfor -%}

                {%- elsif _blockCount == blank -%}
                    {%- assign blockType = block.type | remove: 'style_' | strip -%}
                    {%- capture block_css -%}
                      {%- include 'snippet-gallery', type: blockType, blockID: '' -%}
                    {%- endcapture -%}{%- assign section_css = section_css | append: block_css -%}
                {%- endif -%}

              {%- endfor -%}
            {%- else -%}
              {%- for i in (1..2) -%}
                <div class="card_section-item">
                  {%- include 'svgset', type: 'lifestyle' -%}
                </div>
              {%- endfor -%}
            {%- endif -%}
          </div>

          {%- if _enable_slider -%}
            {%- render 'set-item-per-row', type: 'slider', section: section, count: _blockCount, value: true -%}
          {%- endif -%}
        </div>

      </div>
    {%- if _layout == 'boxed' -%}</div>{%- endif -%}
  </div>

  {%- capture sectionCss -%}
    {%- liquid
      echo section_css
      render 'snippet-theme', type: 'sectionCSS', ID: sectionID
      render 'css-resp', classID: sectionID, nextClassID: ' .d-grid', css_value: _items_resp, css_property: 'grid-template-columns', css_value_before: 'repeat', css_split: ';'
      render 'css-resp', classID: sectionID, nextClassID: ' .d-grid', css_value: section.settings.grid_spc, css_property: 'grid-gap'
    -%}
  {%- endcapture -%}{%- assign sectionCss = sectionCss | strip_newlines -%}
  {%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}

{%- endcapture -%}

{%- render 'compress' content: content -%}
<arena class="d-none">{{section.id}}:featured-gallery</arena>

{% schema %}
{
  "name": {
    "en": "Image Gallery"
  },
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Image Gallery' section"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Section Label [:id]"
      },
      "default": "Image Gallery"
    },
    {
      "type": "header",
      "content": {
        "en": "LAYOUT"
      }
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": {
        "en": "Section Padding"
      },
      "placeholder": {
        "en": "E.g: 5px 20px 5px 20px"
      },
      "info": {
        "en": "E.g: 5px 20px 5px 20px. Order: Top Right Bottom Left"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Section Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_1",
      "label": {
        "en": "Heading"
      }
    },
    {
      "type": "text",
      "id": "sectionHeading_text_2",
      "label": {
        "en": "Subheading"
      }
    },
    {
      "type": "select",
      "id": "sectionHeading_align",
      "label": {
        "en": "Alignment"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "left",
          "label": {
            "en": "Left"
          }
        },
        {
          "value": "center",
          "label": {
            "en": "Center"
          }
        },
        {
          "value": "right",
          "label": {
            "en": "Right"
          }
        }
      ],
      "default": "auto"
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_1",
      "label": {
        "en": "Heading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "color",
      "id": "sectionHeading_cl_2",
      "label": {
        "en": "Subheading color"
      },
      "info": {
        "en": "Blank to inherit"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Layout content"
      }
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": {
        "en": "Max number of items per row"
      },
      "default": "2,1",
      "placeholder": {
        "en": "E.g: 2,1"
      },
      "info": {
        "en": "E.g: 2,1"
      }
    },
    {
      "type": "text",
      "id": "grid_spc",
      "label": {
        "en": "Item spacing"
      },
      "default": "10px",
      "placeholder": {
        "en": "E.g: 10px"
      },
      "info": {
        "en": "E.g: 10px"
      }
    },
    {
      "type": "select",
      "id": "hover_style",
      "label": {
        "en": "Hover style"
      },
      "options": [
        {
          "value": "none",
          "label": {
            "en": "None"
          }
        },
        {
          "value": "1",
          "label": {
            "en": "Effect 1"
          }
        },
        {
          "value": "2",
          "label": {
            "en": "Effect 2"
          }
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "border_item",
      "label": {
        "en": "Show border"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Slider settings"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": {
        "en": "Enable Slider"
      }
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": {
        "en": "Show dots"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "controls",
      "label": {
        "en": "Show controls"
      },
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": {
        "en": "Block item"
      },
      "limit": 10,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Block label"
          }
        },
        {
          "type": "select",
          "id": "block_style",
          "label" : {
            "en" : "Style"
          },
          "options": [
           {
              "value": "1",
              "label": {
                "en": "1"
              }
           },
           {
             "value": "2",
             "label": {
               "en": "2"
             }
           },
           {
             "value": "3",
             "label": {
               "en": "3"
             }
           }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 1"
          }
        },
        {
          "type": "textarea",
          "id": "content_1",
          "label": {
            "en": "Content"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 2"
          }
        },
        {
          "type": "textarea",
          "id": "content_2",
          "label": {
            "en": "Content"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 3"
          }
        },
        {
          "type": "textarea",
          "id": "content_3",
          "label": {
            "en": "Content"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 4"
          }
        },
        {
          "type": "html",
          "id": "content_icon_4",
          "label": {
            "en": "Icon"
          },
          "info": {
            "en": "Only work 'Style 3'"
          }
        },
        {
          "type": "text",
          "id": "content_lw_4",
          "label": {
            "en": "Linking words"
          },
          "info": {
            "en": "Only work 'Style 3'"
          }
        },
        {
          "type": "textarea",
          "id": "content_4",
          "label": {
            "en": "Content"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "url",
          "id": "button_url",
          "label": {
            "en": "Button URL"
          }
        },
        {
          "type": "range",
          "id": "btn_style",
          "label": {
            "en": "Button style"
          },
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 1
        }
      ]
    },
    {
      "type": "style_wrapper",
      "name": {
        "en": "[+] Content wrapper"
      },
      "settings": [
        {
          "type": "text",
          "id": "padding",
          "label": {
            "en": "Padding"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "E.g: 5px 8px 5px 8px. Order: Top Right Bottom Left"
          }
        },
        {
          "type": "text",
          "id": "position",
          "label": {
            "en": "Text block position"
          },
          "placeholder": {
            "en": "E.g: 50%:50%"
          },
          "info": {
            "en": "E.g: 50%:50%. Left(%):Top(%). Doesn't work on Banner Style 2."
          }
        },
        {
          "type": "text",
          "id": "align",
          "label": {
            "en": "Text Alignment"
          },
          "placeholder": {
            "en": "E.g: center or left"
          }
        }
      ]
    },
    {
      "type": "style_content",
      "name": {
        "en": "[+] Heading & Subheading"
      },
      "settings": [
        {
          "type": "header",
          "content": {
            "en": "Text 1"
          }
        },
        {
          "type": "text",
          "id": "content_fs_1",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 24px"
          }
        },
        {
          "type": "color",
          "id": "content_cl_1",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "range",
          "id": "content_fw_1",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 0,
          "info": {
            "en": "0 is auto"
          }
        },
        {
          "type": "text",
          "id": "content_margin_1",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          }
        },
        {
          "type": "text",
          "id": "content_lh_1",
          "label": {
            "en": "Line height"
          },
          "placeholder": {
            "en": "E.g: 26px"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 2"
          }
        },
        {
          "type": "text",
          "id": "content_fs_2",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 24px"
          }
        },
        {
          "type": "color",
          "id": "content_cl_2",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "range",
          "id": "content_fw_2",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 0,
          "info": {
            "en": "0 is auto"
          }
        },
        {
          "type": "text",
          "id": "content_margin_2",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          }
        },
        {
          "type": "text",
          "id": "content_lh_2",
          "label": {
            "en": "Line height"
          },
          "placeholder": {
            "en": "E.g: 26px"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 3"
          }
        },
        {
          "type": "text",
          "id": "content_fs_3",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 24px"
          }
        },
        {
          "type": "color",
          "id": "content_cl_3",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "range",
          "id": "content_fw_3",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 0,
          "info": {
            "en": "0 is auto"
          }
        },
        {
          "type": "text",
          "id": "content_margin_3",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          }
        },
        {
          "type": "text",
          "id": "content_lh_3",
          "label": {
            "en": "Line height"
          },
          "placeholder": {
            "en": "E.g: 26px"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Text 4"
          }
        },
        {
          "type": "text",
          "id": "content_fs_4",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 24px"
          }
        },
        {
          "type": "color",
          "id": "content_cl_4",
          "label": {
            "en": "Color"
          }
        },
        {
          "type": "range",
          "id": "content_fw_4",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 0,
          "info": {
            "en": "0 is auto"
          }
        },
        {
          "type": "text",
          "id": "content_margin_4",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 5px 8px 5px 8px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          }
        },
        {
          "type": "text",
          "id": "content_lh_4",
          "label": {
            "en": "Line height"
          },
          "placeholder": {
            "en": "E.g: 26px"
          }
        }
      ]
    },
    {
      "type": "style_button",
      "name": {
        "en": "[+] Button"
      },
      "settings": [
        {
          "type": "text",
          "id": "btn_fs",
          "label": {
            "en": "Font size"
          },
          "placeholder": {
            "en": "E.g: 18px"
          }
        },
        {
          "type": "range",
          "id": "btn_fw",
          "label": {
            "en": "Font weight"
          },
          "min": 0,
          "max": 900,
          "step": 100,
          "default": 0,
          "info": {
            "en": "0 is auto"
          }
        },
        {
          "type": "text",
          "id": "btn_padding",
          "label": {
            "en": "Padding"
          },
          "placeholder": {
            "en": "E.g: 13px 50px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          }
        },
        {
          "type": "text",
          "id": "btn_margin",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 13px 50px"
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          }
        },
        {
          "type": "color",
          "id": "btn_cl",
          "label": {
            "en": "Text color"
          }
        },
        {
          "type": "color",
          "id": "btn_bg_cl",
          "label": {
            "en": "Background color"
          }
        },
        {
          "type": "color",
          "id": "btn_hover_cl",
          "label": {
            "en": "Hover: Text color"
          }
        },
        {
          "type": "color",
          "id": "btn_hover_bg_cl",
          "label": {
            "en": "Hover: Background color"
          }
        },
        {
          "type": "range",
          "id": "btn_border_width",
          "label": {
            "en": "Border width"
          },
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 1,
          "unit": "px"
        },
        {
          "type": "color",
          "id": "btn_border_cl",
          "label": {
            "en": "Border color"
          }
        },
        {
          "type": "color",
          "id": "btn_hover_border_cl",
          "label": {
            "en": "Hover: Border color"
          }
        },
        {
          "type": "text",
          "id": "btn_radius",
          "label": {
            "en": "Rounded corners"
          },
          "placeholder": {
            "en": "E.g: 42px"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Image Gallery"
      },
      "category": "Banner",
      "blocks": [
        {
          "type": "content"
        },
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}