
{% liquid
  assign layout        = section.settings.layout
  assign section_style = section.settings.section_style
  assign color_default = 'rgba(0,0,0,0)'

  assign banner_bg_image    = section.settings.banner_bg_image
  assign banner_height      = section.settings.banner_height
  assign banner_bg_color    = section.settings.banner_bg_color
  assign banner_bg_size     = section.settings.banner_bg_size
  assign banner_bg_position = section.settings.banner_bg_position
  assign banner_bg_repeat   = section.settings.banner_bg_repeat

  assign tab_title_1          = section.settings.tab_title_1
  assign tab_title_2          = section.settings.tab_title_2
  assign tab_1_filter_title_1 = section.settings.tab_1_filter_title_1
  assign tab_1_filter_title_2 = section.settings.tab_1_filter_title_2
  assign tab_1_filter_title_3 = section.settings.tab_1_filter_title_3

  assign filter_bg_color   = section.settings.filter_bg_color
  assign filter_text_color = section.settings.filter_text_color
%}
{%- capture sectionID -%}.section-{{section.id}}{%- endcapture-%}
{% if layout %}{%- assign layout_class = 'layout-boxed' -%}{%- else -%}{%- assign layout_class = 'layout-full' -%}{%- endif -%}

{%- capture section_class -%}
  {{--}}single-banner-filter {{layout_class-}}
  {{--}}|style-{{-section_style-}}
  {{--}}|section-{{-section.id-}}
{%- endcapture -%}

<div class="{{-section_class | strip_newlines | split: '|' | join: ' '-}}" data-section-type="banner-filter" data-section-id="{{section.id}}">
  {% if layout %} <div class="container"> {%- endif -%}
    <div class="section-wrapper">
      <div class="section-content">
        {%- capture banner_style -%}
          background-color: {{banner_bg_color}};
          background-size: {{banner_bg_size}};
          background-position: {{banner_bg_position}};
          background-repeat: {{banner_bg_repeat}};
        {%- endcapture -%}
        <div class="single-banner {%- render 'bgset' image: banner_bg_image -%}" style="{{banner_style}}">
          {%- if section_style == '1' -%}
            <div class="container">
              <div class="textbox overlay-ui">
                {%- for i in (1..3) -%}
                  {%- assign text_color = 'banner_text_color_' | append: i -%}
                  {%- assign banner_text = 'banner_text_' | append: i -%}
                  {%- capture text_style -%}
                    {%- if section.settings[text_color] != color_default -%} color: {{-section.settings[text_color]-}}; {%- endif -%}
                  {%- endcapture -%}
                  <div class="text-{{i}}" style="{{text_style}}">{{section.settings[banner_text]}}</div>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        </div>
        <div class="filter">
          <div class="container">
            {%- if section_style == '2' -%}
              <div class="textbox">
                {%- for i in (1..3) -%}
                  {%- assign text_color = 'banner_text_color_' | append: i -%}
                  {%- assign banner_text = 'banner_text_' | append: i -%}
                  {%- capture text_style -%}
                    {%- if section.settings[text_color] != color_default -%} color: {{-section.settings[text_color]-}}; {%- endif -%}
                  {%- endcapture -%}
                  <div class="text-{{i}}" style="{{text_style}}">{{section.settings[banner_text]}}</div>
                {%- endfor -%}
              </div>
            {%- endif -%}
            <div class="filter-wrapper">
              {%- if section_style != '2' -%}
                <ul class="tabs-control" data-tabs-control>
                  <li class="tabs-control_item active" >
                    <a href="#" onclick="return false" data-target="tab-content-{{section.id}}-1" class="js-tab-control">
                      <span>{{ 'section.single_banner_with_filter.search_by' | t}}</span>
                      <span class="tab-name">{{tab_title_1}}</span>
                    </a>
                  </li>
                  <li class="tabs-control_item">
                    <a href="#" onclick="return false" data-target="tab-content-{{section.id}}-2" class="js-tab-control">
                      <span>{{ 'section.single_banner_with_filter.search_by' | t}}</span>
                      <span class="tab-name">{{tab_title_2}}</span>
                    </a>
                  </li>
                </ul>
              {%- endif -%}
              <div class="tabs-content" data-tabs-content>
                <div class="tabs-content_item active" id="tab-content-{{section.id}}-1">
                  <div class="tabs-content_wrapper">
                    <div class="chosen-container active">
                      <a class="chosen-single" data-target="chosen-drop-{{section.id}}-1" >
                        <span class='chosen-order'>1</span>
                        <span>{{tab_1_filter_title_1}}</span>
                        {%- render 'svg' type: 'angle-down' -%}
                      </a>
                      <div class="chosen-drop" id="chosen-drop-{{section.id}}-1">
                        <div class="chosen-search"><input type="text" autocomplete="off" /></div>
                        <ul class="chosen-results">
                          <li class="active-result result-selected" data-option-array-index="0" style="">{{tab_1_filter_title_1}}</li>
                          <li class="active-result" data-option-array-index="1" style="">145 (4)</li>
                          <li class="active-result" data-option-array-index="2" style="">155 (7)</li>
                          <li class="active-result" data-option-array-index="3" style="">165 (6)</li>
                          <li class="active-result" data-option-array-index="4" style="">175 (7)</li>
                          <li class="active-result" data-option-array-index="5" style="">185 (7)</li>
                        </ul>
                      </div>
                    </div>
                    <div class="chosen-container">
                      <a class="chosen-single" data-target="chosen-drop-{{section.id}}-2">
                        <span class='chosen-order'>2</span>
                        <span>{{tab_1_filter_title_2}}</span>
                        {%- render 'svg' type: 'angle-down' -%}
                      </a>
                      <div class="chosen-drop" id="chosen-drop-{{section.id}}-2">
                        <div class="chosen-search"><input type="text" autocomplete="off" /></div>
                        <ul class="chosen-results">
                          <li class="active-result result-selected" data-option-array-index="0" style="">{{tab_1_filter_title_2}}</li>
                          <li class="active-result" data-option-array-index="1" style="">145 (4)</li>
                          <li class="active-result" data-option-array-index="2" style="">155 (7)</li>
                          <li class="active-result" data-option-array-index="3" style="">165 (6)</li>
                          <li class="active-result" data-option-array-index="4" style="">175 (7)</li>
                          <li class="active-result" data-option-array-index="5" style="">185 (7)</li>
                        </ul>
                      </div>
                    </div>
                    <div class="chosen-container">
                      <a class="chosen-single" data-target="chosen-drop-{{section.id}}-3">
                        <span class='chosen-order'>3</span>
                        <span>{{tab_1_filter_title_3}}</span>
                        {%- render 'svg' type: 'angle-down' -%}
                      </a>
                      <div class="chosen-drop" id="chosen-drop-{{section.id}}-3">
                        <div class="chosen-search"><input type="text" autocomplete="off" /></div>
                        <ul class="chosen-results">
                          <li class="active-result result-selected" data-option-array-index="0" style="">{{tab_1_filter_title_3}}</li>
                          <li class="active-result" data-option-array-index="1" style="">145 (4)</li>
                          <li class="active-result" data-option-array-index="2" style="">155 (7)</li>
                          <li class="active-result" data-option-array-index="3" style="">165 (6)</li>
                          <li class="active-result" data-option-array-index="4" style="">175 (7)</li>
                          <li class="active-result" data-option-array-index="5" style="">185 (7)</li>
                        </ul>
                      </div>
                    </div>
                    <div class="chosen-btn">
                      <a href="#" onlick="return false" class="btn btn-1">
                        {%- render 'svg' type: 'search' -%}
                        <span>{{ 'section.single_banner_with_filter.search' | t}}</span>
                      </a>
                      <a href="#" class="btn-reset">{{ 'section.single_banner_with_filter.reset' | t}}</a>
                    </div>
                  </div>

                </div>
                {%- if section_style != '2' -%}
                  <div class="tabs-content_item" id="tab-content-{{section.id}}-2">
                    <div class="tabs-content_wrapper">
                      <form id="search" class="navbar-form search" action="/search" method="get">
                        <input type="hidden" name="type" value="product">
                        <input id="bc-product-search" type="text" name="q" class="form-control" placeholder="{{ 'section.single_banner_with_filter.search' | t}}" autocomplete="off">
                        <button type="submit" class="btn btn-1 search-icon">
                          {%- render 'svg' type: 'search' -%}
                          <span>Search</span>
                        </button>
                      </form>
                    </div>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% if layout %} </div> {%- endif -%}
</div>
{%- capture preClassID -%}{{sectionID}} .textbox {%- endcapture -%}

{%- capture section_css -%}
  {%- render 'css-resp' preClassID: sectionID, classID: ' .tabs-control .tabs-control_item.active' , css_value: filter_bg_color, css_property: 'background-color', css_split: ';'  -%}
  {%- render 'css-resp' preClassID: sectionID, classID: ' .tabs-control .tabs-control_item a' , css_value: filter_text_color, css_property: 'color'  -%}
  {%- render 'css-resp' preClassID: sectionID, classID: ' a.btn-reset' , css_value: filter_text_color, css_property: 'color'  -%}
  {%- assign bg_new = filter_bg_color | color_modify: 'alpha', 0.5 -%}
  {%- render 'css-resp' preClassID: sectionID, classID: ' .tabs-control .tabs-control_item' , css_value: bg_new, css_property: 'background-color', css_split: ';'  -%}
  {%- render 'css-resp' preClassID: sectionID, classID: ' .tabs-content .tabs-content_item' , css_value: filter_bg_color, css_property: 'background-color', css_split: ';'  -%}
  {%- render 'css-resp' preClassID: sectionID, classID: ' .single-banner' , css_value: banner_height, css_property: 'height'  -%}
  {%- for i in (1..3) -%}
    {%- liquid
      assign classID   = ' .text-' | append: i
      assign banner_fw = 'banner_text_fw_' | append: i
      assign banner_fs = 'banner_text_fs_' | append: i
      assign banner_mr = 'banner_text_mr_' | append: i
    -%}
    {{preClassID}} .text-{{i}}{font-weight: {{section.settings[banner_fw]}};}
    {%- render 'css-resp' preClassID: preClassID, classID: classID, css_value: section.settings[banner_fs] , css_property: 'font-size' -%}
    {%- render 'css-resp' preClassID: preClassID, classID: classID, css_value: section.settings[banner_mr] , css_property: 'margin' -%}
  {%- endfor -%}
{%- endcapture -%}

<style>
  {{section_css | strip | strip_newlines}}
</style>
<arena class="d-none">{{section.id}}</arena>

{% schema %}
{
  "name" : {
    "en": "Single Banner with Filter"
  },
  "tag" : "section",
  "settings" : [
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type" : "checkbox",
      "id" : "layout",
      "label" : {
        "en": "Boxed layout"
      }
    },
    {
      "type": "select",
      "id": "section_style",
      "label" : {
        "en" : "Style"
      },
      "options": [
        {
          "value": "1",
          "label": {
            "en": "1"
          }
        },
        {
          "value": "2",
          "label": {
            "en": "2"
          }
        }
      ]
    },
    {
      "type": "text",
      "id": "banner_height",
      "label": {
        "en": "Height"
      },
      "default" : "500px",
      "placeholder" : {
        "en": "E.g: 500px"
      },
      "info": {
        "en": "E.g: 500px"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Banner settings"
      }
    },
    {
      "type": "color",
      "id": "banner_bg_color",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type": "image_picker",
      "id": "banner_bg_image",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "select",
      "id": "banner_bg_size",
      "label": {
        "en": "Background size"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "cover",
          "label": {
            "en": "Cover"
          }
        },
        {
          "value": "contains",
          "label": {
            "en": "Contains"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "banner_bg_position",
      "label": {
        "en": "Background position"
      },
      "options": [
        {
          "value": "left top",
          "label": {
            "en": "Left Top"
          }
        },
        {
          "value": "left center",
          "label": {
            "en": "Left Center"
          }
        },
        {
          "value": "left bottom",
          "label": {
            "en": "Left Bottom"
          }
        },
        {
          "value": "right top",
          "label": {
            "en": "Right Top"
          }
        },
        {
          "value": "right center",
          "label": {
            "en": "Right Center"
          }
        },
        {
          "value": "right bottom",
          "label": {
            "en": "Right Bottom"
          }
        },
        {
          "value": "center top",
          "label": {
            "en": "Center Top"
          }
        },
        {
          "value": "center center",
          "label": {
            "en": "Center Center"
          }
        },
        {
          "value": "center bottom",
          "label": {
            "en": "Center Bottom"
          }
        }
      ],
      "default": "center center"
    },
    {
      "type": "select",
      "id": "banner_bg_repeat",
      "label": {
        "en": "Background repeat"
      },
      "options": [
        {
          "value": "no-repeat",
          "label": {
            "en": "No repeat"
          }
        },
        {
          "value": "repeat",
          "label": {
            "en": "Repeat"
          }
        },
        {
          "value": "repeat-x",
          "label": {
            "en": "Repeat X"
          }
        },
        {
          "value": "repeat-y",
          "label": {
            "en": "Repeat Y"
          }
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "header",
      "content": {
        "en": "Paragraph settings"
      }
    },
    {
      "type": "text",
      "id": "banner_text_1",
      "label": {
        "en": "Text 1"
      }
    },
    {
      "type": "color",
      "id": "banner_text_color_1",
      "label": {
        "en": "Color"
      }
    },
    {
      "type": "text",
      "id": "banner_text_fs_1",
      "label": {
        "en": "Font size"
      },
      "placeholder" : {
        "en": "E.g: 20px"
      },
      "info": {
        "en": "E.g: 20px"
      }
    },
    {
      "type" : "range",
      "id": "banner_text_fw_1",
      "label": {
        "en" : "Font weight"
      },
      "step": 100,
      "min" : 100,
      "max" : 900,
      "default" : 400
    },
    {
      "type": "text",
      "id": "banner_text_mr_1",
      "label": {
        "en": "Margin"
      },
      "placeholder" : {
        "en": "E.g: 0px 5px 10px 20px"
      },
      "info": {
        "en": "E.g: 0px 5px 10px 20px. Order: Top Right Bottom Left"
      }
    },
    {
      "type": "text",
      "id": "banner_text_2",
      "label": {
        "en": "Text 2"
      }
    },
    {
      "type": "color",
      "id": "banner_text_color_2",
      "label": {
        "en": "Color"
      }
    },
    {
      "type": "text",
      "id": "banner_text_fs_2",
      "label": {
        "en": "Font size"
      },
      "placeholder" : {
        "en": "E.g: 20px"
      },
      "info": {
        "en": "E.g: 20px"
      }
    },
    {
      "type" : "range",
      "id": "banner_text_fw_2",
      "label": {
        "en" : "Font weight"
      },
      "step": 100,
      "min" : 100,
      "max" : 900,
      "default" : 400
    },
    {
      "type": "text",
      "id": "banner_text_mr_2",
      "label": {
        "en": "Margin"
      },
      "placeholder" : {
        "en": "E.g: 0px 5px 10px 20px"
      },
      "info": {
        "en": "E.g: 0px 5px 10px 20px. Order: Top Right Bottom Left"
      }
    },
    {
      "type": "html",
      "id": "banner_text_3",
      "label": {
        "en": "Html custom"
      }
    },
    {
      "type": "color",
      "id": "banner_text_color_3",
      "label": {
        "en": "Color"
      }
    },
    {
      "type": "text",
      "id": "banner_text_fs_3",
      "label": {
        "en": "Font size"
      },
      "placeholder" : {
        "en": "E.g: 20px"
      },
      "info": {
        "en": "E.g: 20px"
      }
    },
    {
      "type" : "range",
      "id": "banner_text_fw_3",
      "label": {
        "en" : "Font weight"
      },
      "step": 100,
      "min" : 100,
      "max" : 900,
      "default" : 400
    },
    {
      "type": "text",
      "id": "banner_text_mr_3",
      "label": {
        "en": "Margin"
      },
      "placeholder" : {
        "en": "E.g: 0px 5px 10px 20px"
      },
      "info": {
        "en": "E.g: 0px 5px 10px 20px. Order: Top Right Bottom Left"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Filter settings"
      }
    },
    {
      "type": "color",
      "id": "filter_bg_color",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type": "color",
      "id": "filter_text_color",
      "label": {
        "en": "Text color"
      }
    },
    {
      "type": "text",
      "id": "tab_title_1",
      "label": {
        "en": "Tab title 1"
      },
      "info": {
        "en": "Doesn't work on Style 2"
      },
      "default" : "TIRE SIZE"
    },
    {
      "type": "text",
      "id": "tab_1_filter_title_1",
      "label": {
        "en": "Filter level 1's title"
      },
      "default" : "Select Maker"
    },
    {
      "type": "text",
      "id": "tab_1_filter_title_2",
      "label": {
        "en": "Filter level 2's title"
      },
      "default" : "Select Aspect"
    },
    {
      "type": "text",
      "id": "tab_1_filter_title_3",
      "label": {
        "en": "Filter level 3's title"
      },
      "default" : "Select Diameter"
    },
    {
      "type": "text",
      "id": "tab_title_2",
      "label": {
        "en": "Tab title 2"
      },
      "info": {
        "en": "Doesn't work on Style 2"
      },
      "default" : "BRAND"
    }
  ],
  "presets": [
    {
      "name" : "Single Banner with Filter",
      "category" : "Banner"
    }
  ]
}
{% endschema %}